html {
  height: 100%;
  width: 100%;
}
* 
{
  box-sizing: border-box;
}
body 
{
  font-family: Verdana, sans-serif;
}
.mySlides 
{
  display: none;
}
.hehe
{
  vertical-align: middle;
}
.heading
{
  background-color: cyan;
  width: 100px;
  height: 80px;
}
.border
{
  background-color: deepskyblue;
  height: 80px;
}
.nam
{
  font-size: 40px;
  font-weight: 20px;
  color: greenyellow;
  position: absolute;
  top: 20px;
  left: 150px;
}
.topo input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: -40px;
  margin-right: -300px;
  font-size: 17px;
  /*top:10%;
  right: 10px;*/
}

.btn {
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  margin-left: 50px;
  font-weight: bold;
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  background-color: #ffc107;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  /*cursor: pointer;*/
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: darkgreen;
  color: white;
}



* {
    box-sizing: border-box
}

.image-slideshow 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.hehe {
  width: 100%;
  height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.lolo
{
  text-align: center;
}
.widget
{
  background: #fff;
  box-shadow: 6px 6px 70px rgb(16 40 81 / 23%);
  padding: 20px 10px;
  height: 146px;
  border-radius: 15px;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}