body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(173,204,204);
    background-image: url(pexels-suzy-hazelwood-1822568.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    background-color: rgba(255,255,255,0.40);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 50vh;
}

.container:hover{
    
    box-shadow: rgb(255, 102, 179) 0px 20px 30px -10px;
}

h1{
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    text-align: center;

}

textarea{
    width: 40vw;
    height: 40vh;
    margin: 10px auto;
    display: block;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    resize: none;
    opacity: 70%;
}

textarea:hover {
    opacity: 100%;
}

button{
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover{
    background-color: #45a049;
}

#result{
    font-size: 20px;
    margin-top: 20px;
    color: #000000;
    font-weight: bold;
}

@media (max-width: 600px)
{
    h1{
        font-size: 30px;
    }

}
@media (max-width: 430px) {
    h1 {
        font-size: 20px;
    }

}
