html {
  font-family: "Times New Roman" !important;
}

@font-face {
  font-family: ppSB;
  src: url("../public/assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: ppRG;
  src: url("../public/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: ppL;
  src: url("../public/assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: ppMD;
  src: url("../public/assets/fonts/Poppins-Medium.ttf");
}

:root {
  --max-sidebar-width: 350px;
}

body {
  width: 100%;
  height: 100vh;
  background: #232021;
  overflow-x: hidden !important;
  color: #fff;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ppRG;
}

body::-webkit-scrollbar {
  width: 3px;
}

.pp-RG {
  font-family: ppRG !important;
}

.pp-SB {
  font-family: ppSB !important;
}

.pp-L {
  font-family: ppL !important;
}

.pp-MD {
  font-family: ppMD !important;
}

.padding-container {
  padding: 10px 20px 0px 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.text-gray-100 {
  color: #ccc;
}
.text-gray-200 {
  color: #777;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.hideScrollBar::-webkit-scrollbar {
  width: 3px;
  background: #7777;
}

.hideScrollBar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 30px;
}

.container {
  width: 100%;
  margin: 0px auto;
  height: auto;
  position: relative;
  transform: scale(1);
  z-index: 300;
}

/* Note sidebar */
.note-sidebar {
  width: 35%;
  max-width: 350px;
  height: 100vh;
  /* background: #232021; */
  background: #f5f6fa;
  overflow-y: scroll;
}

.note-sidebar .top-bar {
  width: 100%;
  height: auto;
  background: #f5f6fa;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #7777774d;
}

.note-sidebar .top-bar h3 {
  margin-left: 10px;
  color: #000;
}

.note-sidebar .top-bar button {
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  /* color: #ccc; */
  color: #000;
  background: none;
  margin-right: 20px;
  align-items: center;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}

.note-sidebar .top-bar button:hover {
  /* background: #373435; */
  background: #3f7bfc;
  opacity: 1;
  color: #fff;
}

.note-sidebar .top-bar button.disabled {
  background: #373435;
  color: #ccc;
  opacity: 0.3;
  cursor: not-allowed;
}

.note-sidebar .top-bar button.hidden {
  display: none;
}
.note-sidebar .top-bar button.visisble {
  display: flex;
}

.note-sidebar .top-bar button:nth-child(1) {
  padding: 5px 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.note-sidebar .top-bar button:nth-child(1) ion-icon {
  margin-left: 5px;
}

.note-sidebar .top-bar button ion-icon {
  padding: 1px;
  font-size: 15px;
}

.note-sidebar .top-bar button:nth-child(3) {
  padding: 0px;
}
.note-sidebar .top-bar button:nth-child(3) > ion-icon {
  padding: 15px;
}

.note-sidebar .top-bar input.not-expand {
  width: 0px;
  visibility: hidden;
  transition: all 0.1s ease-in;
  margin-right: 3px;
}

.note-sidebar .top-bar input.expand {
  width: 150px;
  visibility: visible;
  margin-right: 3px;
  transition: all 0.1s ease-in;
  border: 0.5px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.note-sidebar .created-notes {
  max-width: var(--max-sidebar-width);
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px;
}

.note-sidebar .created-notes .card {
  width: 100%;
  height: 100px;
  background: none;
  border-bottom: 1px solid #77777747;
  padding: 10px 15px;
  border-radius: 10px;
  transform: scale(0.99);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  outline: none;
  align-items: flex-start;
  justify-content: flex-start;
  border: 0.1px solid transparent;
}

.note-sidebar .created-notes .card:hover {
  /* background: #46464658; */
  background: #fff;
  border: 0.1px solid #cccccc69;
}

.note-sidebar .created-notes .card.active {
  /* background: #46464658; */
  background: #fff;
  /* box-shadow: 0px 0px 2px #77777775; */
  border: 2px solid #000;
}

.note-sidebar .created-notes .card .title {
  font-size: 15px;
  /* color: #fff; */
  color: #000;
}

.note-sidebar .created-notes .card .info {
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.note-sidebar .created-notes .card .info span {
  font-size: 12px;
  /* color: #fff; */
  color: #000;
}

.note-sidebar .created-notes .card .info p {
  font-size: 12px;
  color: #777;
}

.note-sidebar .created-notes .msg {
  align-items: center;
  justify-content: center;
}

.note-sidebar .created-notes .msg p {
  color: #777;
  font-family: ppL;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.note-sidebar .created-notes .msg p ion-icon {
  color: #000;
}

.note-sidebar .save-btn-cont {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.note-sidebar .save-btn-cont button {
  width: 100%;
  padding: 10px 15px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background: #3f7bfc;
  margin-right: 20px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

/* Main note area */
.main-note-area {
  width: 75%;
  height: 100vh;
  background: #fff;
  color: #000;
  overflow-y: scroll;
  position: relative;
}

/* .main-note-area .top-bar{
    height: auto;
    background: #f5f6fa;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #7777774d;
    padding: 10px;
}

.main-note-area .top-bar .search-btn {
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    background: none;
    margin-right: 20px;
    align-items: center;
    transition: all .2s ease-in-out;
    opacity: .5;
    font-size: 20px;
}

.main-note-area .top-bar .search-btn:hover{
    color: #000;
} */

.main-note-area .main-section {
  min-height: 100vh;
  overflow-y: scroll !important;
  padding-left: 40px;
  padding-top: 15px;
  position: relative !important;
}

.main-note-area .editor-msg {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: #fff;
  /* filter: blur(150px); */
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  z-index: 900;
}

.main-note-area .editor-msg p {
  font-size: 14px;
  color: #a3a3a3;
  font-family: ppL;
}

.main-note-area .editor-msg.visible {
  visibility: visible !important;
}

.main-note-area .editor-msg.hidden {
  visibility: hidden !important;
}

/* CKEDIRTOR */
.ck-editor__editable_inline {
  min-height: 100vh;
}
