<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
  {{!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="style1.css">

  <link rel=”stylesheet” href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow”
    integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">

<body>
   


  {{!-- service us ends --}}
  {{!-- map --}}
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13995.841953955256!2d77.11969301119562!3d28.720726792440686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0164e213d981%3A0x1684409a2dd6b4e1!2sDr.%20Vishal%20Chhabra!5e0!3m2!1sen!2sin!4v1682292468575!5m2!1sen!2sin"
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  {{!-- map --}}


  {{!-- contact --}}
  <div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">contact us</h1>
        <p class="text-center sub-heading">Remove stigma around mental health</p>
        <div class="row">
          <div class="col-md-6 col-12 mx-auto ">
            <form action="/contact" method="post">
              <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full name" name="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="phone number"
                  name="phone">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">message</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="message" name="message">
              </div>

              <button type="submit" class="btn-style btn-primary">Submit</button>
            </form>
            {{!-- contact --}}



            <footer class="footer">
              <p class="text-footer">
                {{!-- Copyright &copy; 2027 - www.iEducate.com - All rights reserved --}}
                Mail and Contact understand
              </p>
            </footer>
          </div>

          <script src="../jq/jquery.js" type="text/javascript"></script>
          <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>