* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #303244;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  width: 450px;
  padding: 50px 20px;
  background-color: #ffe0ba;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(178, 178, 178, 0.6);
}
.btn {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 0.99rem;
  border-radius: 3px;
  outline: none;
  border: none;
  color: #fff;
  background-color: blue;
}
h1 {
  font-size: 1.1rem;
  color: #888;
  margin-bottom: 20px;
}

.btn:hover {
  cursor: pointer;
}
.new-joke-btn {
  background-color: #ff7c7c;
}
.new-joke-btn:hover {
  background-color: #9bff7c;
  color: black;
}

.joke-text {
  font-size: 1.8rem;
  margin-bottom: 30px;
  font-family: monospace;
}
