$black: #000000;
$opaque-black: rgba(0, 0, 0, 0.6);
$opaque-grey: rgba(223, 223, 223, 0.6);
$light-grey: #dfdfdf;
$white: #ffffff;

$orange-accent: #ffc593;
$purple-accent: #bc7198;
$blue-accent: #5a77ff;