@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D4360;
    padding: 0 2rem;
    margin: 0 auto;
}

nav img {
    width: 50px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav ul li a {
    color: white;
    font-size: .8rem;
    transition: all ease-in-out 0.2s;
}

nav ul li a:hover {
    color: #F2B705;
}

.github-btn {
    background-color: #fff;
    color: #3d3d3d;
    padding: .6rem 1rem;
    border-radius: 3rem;
}

.github-btn:hover {
    background-color: #F2B705;
    color: #0D4360;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
    margin: 0 8rem;
}

main .right img{
    animation: imgUp 1s linear infinite alternate;
}
main .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

main .left .headings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main .left h1 {
    font-size: 4rem;
    color: #0D4360;
    line-height: 100%;
}

main .left p {
    font-size: .8rem;
    width: 90%;
    color: #3d3d3d;
}

.github-btn-cta {
    background-color: #0D4360;
    color: white;
    padding: .6rem 1rem;
    border-radius: 3rem;
    width: 12.6rem;
    font-size: 1rem;
    transition: all ease-in-out 0.2s;
}

.github-btn-cta:hover {
    background-color: #F2B705;
    color: #0D4360;
}

.project-section {
    margin: -2.5rem 8rem 6rem 8rem;
}

.title {
    color: #0D4360;
    font-size: 3rem;
    margin-top: -6rem;
}

.bg-title {
    font-size: 6rem;
    color: rgb(234, 233, 233);
    margin-left: -6rem;
}

@keyframes imgUp {
  to {
    transform: translateY(-10px);
  }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-header #searchForm {
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    border: 2px solid #0D4360;
    border-radius: 1rem;
}

.project-header #search {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: 0px;
}

.project-header #search:hover, .project-header #search:focus {
    border: 0px;
    outline: none;
}

.project-header button {
    font-size: 1rem;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0px;
}

.project {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background-color: #0D4360;
    border-radius: .2rem;
    transition: all 0.5s ease;
}

.project:hover{
    scale: 1.01;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: auto;
    transition: all ease-in-out .2s;
    border-radius: .2rem;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    width: 100%;
    padding: 1rem;
}

.project-info h2 {
    font-size: 1.4rem;
    width: 90%;
}

.project-info p {
    font-size: .7rem;
    width: 90%;
}

.project-info .row {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1.3rem;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1.3rem;
}

.tech span {
    border: 1px solid #F2B705;
    color: #F2B705;
    padding: .2rem .5rem;
    border-radius: .2rem;
    font-size: .5rem;
}

.links {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
}

.links a {
    color: white;
}

.links a:hover {
    color: #F2B705;
}

.contributors {
    margin: -2.5rem 8rem 4rem 8rem;
}

.contributors .list-section {
    margin-top: 4rem;
    padding: 2rem;
    background-color: #0D4360;
    border-radius: .5rem;
}

#contributors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    list-style: none;
}

#contributors-list img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid #F2B705;
}

footer {
    background-color: #0D4360;
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

footer a {
    color: #F2B705;
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column-reverse;
        margin: 0 4rem;
    }
    main .left {
        margin-top: 4rem;
    }
    main .left h1 {
        font-size: 3rem;
    }
    main .left p {
        font-size: .7rem;
    }
    .github-btn-cta {
        width: 11rem;
    }
    .project-section {
        margin: -2.5rem 4rem 4rem 4rem;
    }
    .title {
        font-size: 2.5rem;
        margin-top: -5rem;
    }
    .bg-title {
        font-size: 6rem;
        margin-left: -4rem;
    }
    .projects {
        margin-top: 1rem;
    }
    .project {
        width: 45%;
    }
    .project-info h2 {
        font-size: 1rem;
    }
    .project-info p {
        font-size: .6rem;
    }
    .project-info .row {
        padding: 0 .5rem;
    }
    .tech span {
        font-size: .6rem;
    }
    .links {
        font-size: .8rem;
    }
    footer {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 768px) {
    nav ul li a {
        font-size: .7rem;
    }
    .github-btn {
        margin-top: 1rem;
    }
    main {
        flex-direction: column-reverse;
        margin: 0 2rem;
        gap: 0rem;
    }
    main .left {
        margin-top: 4rem;
    }
    main .left h1 {
        font-size: 3rem;
    }
    main .left p {
        font-size: 1rem;
    }
    main .right img {
        height: 40vh;
    }
    .github-btn-cta {
        width: 11rem;
        margin-bottom: 2rem;
    }
    .project-section {
        margin: -2.5rem 2rem 4rem 2rem;
    }
    .title {
        font-size: 2rem;
        margin-top: -3rem;
    }
    .bg-title {
        font-size: 4rem;
        margin-left: -2rem;
    }
    .projects {
        margin-top: 1rem;
    }
    .project {
        width: 90%;
    }
    .project-info h2 {
        font-size: 1.2rem;
    }
    .project-info p {
        font-size: 1rem;
    }
    .project-info .row {
        padding: 0 .5rem;
    }
    .tech span {
        font-size: .8rem;
    }
    .links {
        font-size: 1rem;
    }
    footer {
        flex-direction: column;
        padding: 2rem 2rem;
    }
    .project-header {
        flex-direction: column;
    }
    .project-header button, .project-header #search {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    nav ul li a {
        font-size: .7rem;
    }
    .github-btn {
        display: none;
    }
    main {
        flex-direction: column-reverse;
        margin: 0 1rem;
        gap: 0rem;
    }
    main .left {
        margin-top: 4rem;
    }
    main .left h1 {
        font-size: 2rem;
    }
    main .left p {
        font-size: .8rem;
    }
    main .right img {
        height: 30vh;
    }
    .github-btn-cta {
        width: 11rem;
        margin-bottom: 2rem;
    }
    .project-section {
        margin: -2.5rem 1rem 4rem 1rem;
    }
    .title {
        font-size: 1.5rem;
        margin-top: -2rem;
    }
    .bg-title {
        font-size: 3rem;
        margin-left: -1rem;
    }
    .projects {
        margin-top: 1rem;
    }
    .project {
        width: 90%;
    }
    .project-info h2 {
        font-size: 1rem;
    }
    .project-info p {
        font-size: .8rem;
    }
    .project-info .row {
        padding: 0 .5rem;
    }
    .tech span {
        font-size: .6rem;
    }
    .links {
        font-size: .8rem;
    }
    footer {
        flex-direction: column;
        padding: 2rem 1rem;
    }
}
