@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');

/* Colors */
:root {
  --primary-color: #0D4360;
  --secondary-color: #F2B705;
  --text-color: #3d3d3d;
  --background-color: white;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 2rem;
  margin: 0 auto;
}

nav img {
  width: 50px;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav ul li a {
  color: white;
  font-size: 0.8rem;
  transition: color ease-in-out 0.2s;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

.github-btn {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0.6rem 1rem;
  border-radius: 3rem;
}

.github-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Main Section */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 4rem;
  margin: 0 8rem;
}

main .right img {
  animation: imgUp 1s linear infinite alternate;
}

main .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

main .left .headings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .left h1 {
  font-size: 4rem;
  color: var(--primary-color);
  line-height: 100%;
}

main .left p {
  font-size: 0.8rem;
  width: 90%;
  color: var(--text-color);
}

.github-btn-cta {
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 3rem;
  width: 12.6rem;
  font-size: 1rem;
  transition: all ease-in-out 0.2s;
}

.github-btn-cta:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Project Section */
.project-section {
  margin: -2.5rem 8rem 6rem 8rem;
}

.title {
  color: var(--primary-color);
  font-size: 3rem;
  margin-top: -6rem;
}

.bg-title {
  font-size: 6rem;
  color: rgb(234, 233, 233);
  margin-left: -6rem;
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-header #search
