@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
    font-family: "Poiret One", cursive;
    font-weight: bold;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

li,
p,
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
    color: rgb(217, 103, 122);
}

h3 {
    font-size: 3rem;
}

.row {
    margin: 0;
}

.navbar-style {
    background-color: #f8f9fa;
    box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}

#image img {
    width: 100%;
    padding-top: 32px;
    border-radius: 10px;
}

#image1 img {
    border-radius: 10px;
}

#logo {
    display: initial;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #f1444d;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
    font-size: 1.9rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fd5c63;
}

/* our hero sections  */

.hero-text h1 {
    font-size: 5.5rem;
    line-height: 1.5;
    text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
    letter-spacing: 1px;
    color: #2f2f2f;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-text h1:nth-child(2) {
    font-weight: bold;
    color: #5222d0;
}

.hero-text p,
.our-services p,
label {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    color: #777676;
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.hero-text p span {
    font-weight: bold;
    color: #000;
}

.btn-style {
    border-radius: 10px;
    padding: 12px 25px;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: #ec615b;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.btn-style,
.btn-primarty{
    margin-top: 15px;
}

/* about us style starts  */

.about-style {
    margin: 10rem 0;
}

.about-style .main-heading,
.service-style .main-heading,
.contact-style .main-heading {
    font-size: 5rem;
    color: #fd5c63;
    letter-spacing: 1px;
    font-weight: bold;
}

.about-style .sub-heading,
.service-style .sub-heading,
.contact-style .sub-heading {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1;
    color: #333;
    font-weight: 500;
}

/* our services style starts  */

.service-style {
    margin-bottom: 10rem;
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 30px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center;
}

.our-services h4 {
    font-size: 3rem;
    font-weight: bold;
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff;
}

.privacy:hover {
    box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

.medications:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
}

.therapy:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #5035ec 0%, #44a2f6 50%);
}

.backups:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
}

.ssl:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #974eff 0%, #5a57fb 50%);
}

.database:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 50%);
}

/* our services style ends  */

/* contact us starts here  */

.contact-style {
    margin: 10rem 0;
}

label {
    margin-top: 2rem;
    margin-bottom: 0;
}

.form-control {
    padding: 2rem 1rem;
    font-size: 1.7rem;
    font-weight: 600;
}

#emailHelp,
::placeholder {
    font-size: 1.5rem;
}

::placeholder {
    font-weight: 600;
}

/* footer sections ends  */

footer {
    background: rgb(221, 217, 217);
}

footer p {
    padding: 1rem 0;
    margin: 0;
    text-align: center;
}

/* media queries part starts here  */

@media (max-width: 768px) {
    #logo {
        font-size: 2.5rem;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    figure {
        margin: 5rem 0;
    }

    figure img {
        min-width: 100%;
    }

    .hero-text p,
    .our-services p,
    label {
        font-size: 1.5rem;
    }

    .about-style .sub-heading,
    .service-style .sub-heading,
    .contact-style .sub-heading {
        font-size: 2rem;
    }
}
#footer{
    width: 100%;
}
.footer p{
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    background: black;
    color: white
}

#logo{
    width: 50px;
}