@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: auto;
    scrollbar-color: #052a42 #ffffff00;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #0b3c5ce8;
    border-radius: 10px;
    border: 2px solid #80ed9900;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }