*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    background-color: #090221;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.wrapper{
    border-radius: 0.6rem;
    padding: 1.6rem;
    text-align: center;
    position: relative;
}
.wrapper h2{
    font-size: 2rem;
    text-transform: uppercase;
    opacity: 0.8;
    color: #ffffff;
}
.wrapper textarea{
    border: 2px solid #dc52ab;
    border-radius: 0.5rem;
    padding: 1.2rem;
    width: 100%;
    outline: 0;
    font-size: 1rem;
    margin: 1rem 0 0 0;
    resize: none;
    caret-color:#dc52ab ;
}
.wrapper textarea::placeholder{
    color: #dc52ab;
    
}
.wrapper div{
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem 0;
    color: white;
}
#vowel-count{
    margin-left: 0.6rem;
    display: inline-block;
    background: #dc52ab;
    color: white;
    border-radius: 5px;
    width: 60px;
}
#check-btn{
    background-color: #dc52ab;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 700;
    border: none;
    font-size: 1.05rem;
    padding: 0.7rem 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    outline: 0;
    letter-spacing: 0.5px;
    transition: opacity 0.5s ease;
}
#check-btn:hover{
    opacity: 0.9;
}
@media screen and(min-width:480px) {
    .wrapper{
        width: 400px;
    }
}

.footer{
    position: absolute;
    bottom: 25px;
    left: 45%;
}
.footer h4{
    color:white
}