@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: #0C73EB;
    color: white;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 600;
}

header .logo{
    display: flex;
    flex-direction: column; 
}

header .logo img{
    height: 20px;
    width: 70px;
}

header .logo img:hover{
    cursor: pointer;
}

#logo2{
    height: 10px;
    width: 10px;
}

header .search{
    display: flex;
    align-items: center;
}

header .search input{
    padding: 10px;
    display: flex;
    height: 15px;
    width: 500px;
    font-family: Roboto,Arial,sans-serif;
}

header .search img{
    margin-left: -25px;
    height: 22px;
    width: 22px;
}

header .search img:hover{
    cursor: pointer;
}

header .nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav ul li{
    list-style: none;
    padding: 0px 25px;
    cursor: pointer;
}

header .nav ul li:hover{
    font-weight: bolder;
}

header .nav ul img{
    display: flex;
    position: relative;
    top: 0px;
    right: -20px;
}

header .nav ul img:hover{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 8vh - 37vh);
    background-color: #F1F3F6;

}

.slider img{
    display: flex;
    padding: 10px;
    margin: auto;
    width: 97vw;
}

.slider img:hover{
    cursor: pointer;
}

.type{
    background-color: white;
    padding: 20px;
    margin: 0px 30px;
    border-bottom: 1px solid  #e6e6e6;
    
}

.type h2{
    font-family: 'Ubuntu', sans-serif;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 30px 20px 30px;
    padding: 20px 0px;
    background-color: white;
}

.card .picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .picture img:hover{
    cursor: pointer;
}

.card .lines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer{
    height: 30vh;
    display: flex;
    background-color: #152336;
    color: white;
    justify-content: center;
    align-items: center;
}

footer .box{
    border-left: 1px solid #C8C8C8;
    margin: 0 auto;
    padding-left: 30px;
}

footer .box ul li{
    list-style-type: none;
}

footer .box h3{
    color: #C8C8C8;
}

footer .box ul li a{
    color: white;
    text-decoration: none;
}

footer .box ul li:hover{
    font-weight: bolder;
}

div.copyright{
    margin: 1px 0px;
    height: 7vh;
    display: flex;
    background-color: #152336;
    color: white;
    justify-content: center;
    align-items: center;
}