*{
    box-sizing:border-box;
}

body {
    background-color:#131720;
    font-family: sans-serif;
}

h3 {
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-family:fantasy;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.topnav .search-container {
    float: right;
}

form {
    background-color:#151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px; 
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}