@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.purple {
    color: #7342d6;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    height: 80px;
    display: flex;
}

.nav-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 24px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav-link {
    margin-left: 16px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #7342d6;
    padding: 8px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link-primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav-link-primary:hover {
    text-decoration: none;
}

.btn-menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu-backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
}

.menu--open .menu-backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-x: hidden;
}

.btn-menu-close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #fff;

}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-list {
    padding: 32px 0;
}

.menu-link {
    font-size: 40px;
    color: #fff;
}



#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header-container {
    padding-top: 24px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 54px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    
    text-align: center;
    margin-bottom: 32px;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    padding: 12px 24px;
    font-size: 20px;
    background-color: #7342d6;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.header-img {
    position: relative;
    padding: 20px;
    z-index: 2;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#highlights {
    position: relative;
}

#highlights:before,
#highlights:after {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}

.highlight-wrapper {
    display: flex;
    justify-content: center;

}

.highlight {
    padding: 0 24px;
    width: calc(100 / 3);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.highlight-para {
    text-align: center;
    max-width: 280px;
}

.highlight-img {
    border: 2px solid #7342d6;
    color: #7e46ee;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight-sub {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}

#feature {
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    max-width: 25%;
    padding: 24px;
}

.book-img-wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book-image {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.book:hover .book-image {
    transform: scale(1.03);
}

.book-title {
    font-size: 20px;
    margin-bottom: 8px;
    cursor: not-allowed;
}

.book-title:hover {
    text-decoration: underline;
}

.book-rating {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book-price-normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

#explore {
    background-color: rgba(115, 66, 214, 0.1);
    text-align: center;
}

footer {
    background-color: black;
    color: #fff;
}

.footer-logo {
    color: #fff;
    width: 200px;
    filter: grayscale(1) invert(1);
}

.footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin: 24px 0;
}

.footer-link {
    color: #fff;
}

@media (max-width:768px) {
    .header-description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    buttun {
        font-size: 18px;
    }

    .books {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .book {
        max-width: 50%;
    }
}

@media (max-width:550px) {
    .nav-links {
        display: none;
    }

    .btn-menu {
        display: block;
    }

    .highlight {
        width: 100%;
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;
    }

    .highlight-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.books__header{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
}
.books__loading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
}
.books__loading--spinner{
    display: none !important;
}
.books__loading .books__loading--spinner{
    display: block !important;
}
.fa-spinner{
    animation: rotate 600ms infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}