@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: rgb(204, 199, 220, 0.8);
}
.container {
  background-color: #fefafa;
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.3);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgb(42, 132, 201)
  );
}

.navbar {
  background-color: rgb(174, 156, 255, 0.3);
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

ul {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 6rem;
  margin: 10px;
  padding: 10px;
  font-size: large;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
  margin: 80px auto;
  color: #4e4f52;
  font-weight: bolder;
  font-size: xx-large;
  letter-spacing: 3px;
}
a {
  text-decoration: none;
}
.search-box {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid #ae9cff;
  font-size: 16px;
}
.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: #ae9cff;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
}
.search-box button:hover {
  background-color: rgb(174, 156, 255, 0.9);
  scale: 1.05;
}
.result {
  position: relative;
}
.result h3 {
  font-size: 30px;
  color: #1f194c;
}
.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result button {
  background-color: transparent;
  color: #ae9cff;
  border: none;
  outline: none;
  font-size: 18px;
}
.result .details {
  display: flex;
  gap: 10px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
  font-size: 14px;
}
.word-meaning {
  color: #575a7b;
}
.word-example {
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid #ae9cff;
  padding-left: 20px;
  margin-top: 30px;
}
.error {
  margin-top: 80px;
  text-align: center;
}
