.material-symbols-outlined {
  font-variation-settings: "FILL" 50, "wght" 400, "GRAD" 0, "opsz" 48;
  color: rgb(253, 228, 145);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: rgb(117, 97, 55);
  background-image: url(back.jpg);
  background-attachment: fixed;
}

#head {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 5%;
  width: 100%;
  font-size: 35px;
  font-weight: 1000;
  color: rgb(65, 35, 12);
  position: fixed;
  top: 0px;
}

#logo {
  font-size: 32px;
  color: white;
  border-radius: 8px;
  vertical-align: text-top;
  padding: 3px 7px;
  background-color: rgb(65, 35, 12);
}

#outer {
  width: 92vw;
  min-height: 100vh;
  padding: 4vw;
  background-color: rgba(54, 25, 0, 0.856);
  margin: 0px;
  text-align: center;
}

#tex {
  font-size: 18px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  line-height: 29px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 40px;
  width: 76%;
  min-width: 220px;
  text-align: center;
}

#searchbar {
  margin-bottom: 30px;
  padding: 5px 10px;
  width: 20%;
  min-width: 130px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

#search {
  margin: 0px;
  margin-bottom: 30px;
  padding: 5px 8px;
  font-size: 18px;
  background-color: rgb(235, 185, 94);
  border: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  /* Change the button cursor to Pointer */
  cursor: pointer;
}

#search:active {
  background-color: rgb(223, 163, 54);
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 250px;
  margin: 4%;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 20px;
}

.title {
  color: rgb(78, 46, 4);
  font-weight: 600;
  font-size: 19px;
  background-color: rgb(235, 185, 94);
  width: 90%;
  padding: 5%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

#content img {
  width: 70px;
}

.info {
  width: 100%;
  height: 280px;
  color: black;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#link {
  display: block;
  background-color: rgb(235, 185, 94);
  width: 200px;
  height: 20px;
  padding: 5px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 3px solid rgb(223, 163, 54);
  border-right: 3px solid rgb(223, 163, 54);
  margin: 10px 0px;
}
#link:hover {
  background-color: rgb(223, 163, 54);
}
@media (max-width: 400px) {
  #head {
    text-align: center;
    padding: 10px 0px;
  }
}

.loader {
  height: 4rem;
  width: 4rem;
  border: 4px solid white;
  border-radius: 50%;
  border-color: white transparent white transparent;
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
