.container{
 	  position: absolute;
 	  top: 0; left: 0;
 	  width: 100%; height: 100%;
 	  cursor: none;
}

.image, .torch{
 	  position: absolute;
 	  top: 0; left: 0;
 	  width: 100%; height: 100%;
 	  background-image: url("dbz.jpg");
 	  background-size: cover;
 	  background-repeat: no-repeat;
 	  background-position: center;
}

.image{
 	  filter: brightness(15%);
}

.torch{
 	  clip-path: circle(80px at 0 0);
}