@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111111;
    color: #FFF;
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}
div
{
    margin: auto;
    position:relative;
    font: size 5rem;
    text-transform:uppercase ;
    letter-spacing: 3px ;
    line-height: 80px;;
}

.heading{
    margin-top: 10%;
    margin-left: 40%;
    color: transparent;
    -webkit-text-stroke: 1px 
    rgba(255, 255, 255,0.6);
}
.hover-text{
    margin-left: 40%;
    position: absolute;
    inset: 0;
    width: 0%;
    color: #1af7ff;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    }
div:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 40px #1af7ff);
    }


.clock{
    position: relative;
    margin-top: 10%;
    width: 470px;
    height: 120px;
    border-radius: 5px;
    color: #000;
}

.clock .container{
    margin-top: 10%;
    height: 100%;
    display: flex; 
    justify-content: center;
 align-items: center;
}
.clock .container h2{
    font-size: 3.5rem;
    color: #000;
}
.clock .container h2:nth-child(odd){
    width: 110px;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.dot{
    margin-top: 5%;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

#ampm{
    color: #fff;
    position: relative;
    margin-left: 10px;
    top: 20px;
    font-size: 1rem;
    font-weight: 700;
}