*{
    box-sizing: border-box;
}
.navbar{
    color: white;
}
.card button{
    background-color:rgb(233, 188, 74);
    border: none;
  }
  h1{
    font:"Apple Chancery, cursive";
  }
  .foot {
    background-color: black;
  }
  #d1{
    color:cornflowerblue;
  }
.page-footer{
    background-color:rgb(0, 0, 0);
    color: white;
    font-size:10px;
  }
  .container4{
    display:flex;
    height:auto;
  }
  .container4 img{
    padding:10px;
    width:80px;
  }
  .container{
    align-content: center;
    color: black;
    justify-content:center;
    padding: 10px;
    margin-bottom: 5px;
  }
  .over {
    position:relative;
    margin-left: 5px;
    bottom:344px;
    background: rgba(188, 184, 184, 0.147);
    color: white;
    width:100%;
    max-width: 100%;
    transition: .5s ease;
    opacity:-1;
    color: white;
    font-size:xxx-large;
    padding: 5px;
    text-align:left;
  }
  .container .over{
    opacity: 1;
    }