

.displayscore{
  font-size: 50px;
  font-weight: bold;
  color: rgb(107, 17, 17);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:disabled{
  cursor: not-allowed;
  pointer-events: all !important;
}

.winner{
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 49, 174);
}

.p1green, .p2green{
  color:rgb(30, 100, 30);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p1red, .p2red{
  color:rgb(223, 45, 45);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-title{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: bold;
  color: rgb(8, 161, 23);
}

.card-text, .m-2, .form-select{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  color:rgb(107, 17, 17);
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: white;
  /* background-color: white; */
  /* color: black; */
  /* background-color: #cceac4 !important; */
  padding: 40px;
  font-family: Arial;
  text-align: center;
}