body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image:url('https://www.eye.co.jp/images/en/projects/sports/komae/2_l.jpg'); */
  background-image:url('https://th.bing.com/th/id/OIP.BxIAcDlUSQbfTj7svEVZHgHaEo?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-size: cover;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
