html{
    font-size: 10px;
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: darkolivegreen;
    overflow: hidden;
}

.paddle-left{
    --position:50;

    position: absolute;
    background-color: white;
    top:calc(var(--position)*1vh);
    transform: translateY(-10vh);
    width: 2vw;
    height: 20vh;
    left: 2vw;
}

.paddle-right{
    --position:50;
    background-color: white;
    position: absolute;
    top:calc(var(--position)*1vh);
    transform: translateY(-10vh);
    width: 2vw;
    height: 20vh;
    right: 2vw;
}

.score{
    display: flex;
    justify-content: center;
}

.score div{
    width: 50vw;
    height:8rem;
    font-size: 6rem;
}

.score >:first-child{
    border-right:2px solid black;
    text-align: right;
}

.ball{
    --x: 50;
    --y: 60;
    background-color: white;
    position: absolute;
    left: calc(var(--x) * 1vw);
    top:calc(var(--y) * 1vh);
    transform: translateY(-10vh);
    width: 3vh;
    height: 3vh;
    border-radius:50%;
}

#timer-start{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#start{
    width:10rem;
    height: 5rem;
    background-color: white;
}

#refresh{
    width:10rem;
    height: 5rem;
    background-color: white;
}
#set-time{
    width: 25rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
}

#clock{
    width: 20rem;
    height: 5rem;
    border: 2px solid black;
    background-color: white;
    font-size: 4rem;
    text-align: center;
}