

  .thumbnail {
    width: 100%;
  }

  .profile-picture {
    width: 36px;
    border-radius: 50px;
  }

  .video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .thumbnail-row {
    margin-bottom: 8px;
    position: relative;
  }

  .video-author, .video-stats {
    font-size: 12px;
    color: rgb(96,96,96);
    margin-bottom: 4px;
  }

  .video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
  }

  @media (max-width:750px){
    .video-grid{
      grid-template-columns: 1fr 1fr ;
    }
  }

  @media (min-width:750px) and (max-width:999px){
    .video-grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width:1000px){
    .video-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
  }

  .header{
    display:flex;
    
    flex-direction: row;

  }

  .timeline{
    position: absolute;
    right: 4px;
    bottom: 8px;
    color: white;
    background-color: black;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    font-family: roboto;
    border-radius: 2px;
  }