.whyChooseUs {
    background: linear-gradient(to right, #7a8cc9, #aec8e0);
    padding: 40px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.iconsRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.iconWrapper {
    margin: 0 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.iconWrapper.active {
    transform: scale(1.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.iconImage {
    width: 50px;
    height: 50px;
}

.contentBox {
    background-color: #ffd700;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    width: 80%;
    height: 30vh;
    max-width: 600px;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #000;
}

.targetIcon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.targetIconImage {
    width: 100px;
    opacity: 0.2;
}

.description {
    font-style: italic;
    z-index: 1;
    position: relative;
}