<!DOCTYPE html>
<html class="h-100" lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Mangalavya - The Mars Restro | Register</title>

    <link rel="icon" type="image/png" sizes="16x16" href=" {% static '/assets/images/favicon.png' %} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href=" {% static 'css/style.css' %} " rel="stylesheet">
    
</head>

<body class="h-100">

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
  

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                
                                    <a class="text-center" href=" {% url 'page-login.html' %} "> <h4>Mangalavya</h4></a>
        
                                <form class="mt-5 mb-5 login-input" action="/register" method="post"> 
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fname" placeholder="First Name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lname"  placeholder="Last Name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password"  placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="Address" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="phone" placeholder="Phone" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="state" placeholder="State" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="gender" placeholder="Gender" required>
                                    </div>
                                    <!-- <input type="submit" value=""> -->
                                    <button class="btn login-form__btn submit w-100">Sign Up</button>

                                </form>
                                    <p class="mt-5 login-form__footer">Have account <a href=" {% url 'page-login.html' %} " class="text-primary">Sign In </a> now</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

    <!--**********************************
        Scripts
    ***********************************-->
    <script src=" {% static 'plugins/common/common.min.js' %} "></script>
    <script src=" {% static 'js/custom.min.js' %} "></script>
    <script src=" {% static 'js/settings.js' %} "></script>
    <script src=" {% static 'js/gleek.js' %} "></script>
    <script src=" {% static 'js/styleSwitcher.js' %} "></script>
</body>
</html>





