html {
    background-size: cover;
    font-family: 'helvetica neue',sans-serif;
    text-align: center;
    font-size: 10px;
  }
 

  body {
    background: url('BeFunky-photo.jpg');
    background-size: cover;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .clock {
    width: 45rem;
    height: 45rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 40px rgba(0, 0, 0, 0.1),
      inset 0 0 0 3px #000000,
      inset 0 0 20px black,
      0 0 10px rgba(0, 0, 0, 0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /*account for the height of the clock hands*/
  }

  .clock-face::after {
    content: '';
    background-color: #000;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 11;
  }

  .number {
    --rotate: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotate));
    color: #fff;
  }

  .number1 { --rotate: 30deg; }
  .number2 { --rotate: 60deg; }
  .number3 { --rotate: 90deg; }
  .number4 { --rotate: 120deg; }
  .number5 { --rotate: 150deg; }
  .number6 { --rotate: 180deg; }
  .number7 { --rotate: 210deg; }
  .number8 { --rotate: 240deg; }
  .number9 { --rotate: 270deg; }
  .number10 { --rotate: 300deg; }
  .number11 { --rotate: 330deg; }

  .hand {
    --rotation: 0;
    width: 50%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(0,0,0);
    transform-origin: left;
    transform: translateX(-50%);
    z-index: 10;
  }
  .hand.hour-hand {
    width: 40%;
    height: 10px;
  }

  .hand.min-hand {
    width: 45%;
    height: 7px;
  }

  .hand.second-hand {
    background: rgb(179, 16, 94);
  }

