html,
body {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
}

.icon__logo {
  width: 2rem;
  max-height: 3rem;
}
header {
  background-color: #fffce6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 6vh;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 47rem;
  padding: 1rem 0;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  width: 60vw;
  margin-top: 1rem;
  box-shadow: 0px 0px 30px 0px lightgrey;
}
a {
  text-decoration: none;
  color: black;
  font-family: "system-ui,Circular Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  font-weight: 700;
  /* font-display: bold; */
  box-sizing: border-box;
  font-size: 0.8rem;
}
.faq,
.creator {
  position: relative;
}
.faq::after {
  content: "";
  position: absolute;
  background-color: rgb(195, 201, 207);
  border-radius: 3rem;
  padding: 1rem;
  width: 2rem;
  left: -60%;
  opacity: 0.4;
  top: -40%;
  z-index: 9;
  /* transition: all ease-in 400ms; */
}
/* .faq:hover::after {
  opacity: 0.3;
} */

.left__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
a {
  font-weight: 400;
  font-size: 1rem;
}

.right__nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* width: 20rem; */
}

.login {
  position: relative;
  width: 3rem;
}
.login::after {
  content: "";
  position: absolute;
  background-color: rgb(195, 201, 207);
  border-radius: 3rem;
  padding: 1rem;
  width: 2rem;
  left: -29%;
  opacity: 0;
  top: -28%;
  z-index: 9;
  /* transition: all ease-in 400ms; */
}

.login:hover::after {
  opacity: 0.3;
}
.signup {
  background-color: #ffdd00;
  padding: 0.6rem;
  transition: all ease-in 400ms;
  border: none;
  border-radius: 2rem;
  box-sizing: border-box;
  width: 5rem;
  outline: none;
  /* margin-left: 2rem; */
}
.signup:hover {
  border: 1px #ffdd00 solid;
}
.upper {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1rem;
  background-color: #fffce6;
  padding-bottom: 3rem;
}
.section__header {
  text-align: center;
  font-size: 3rem;
}
.sub__header {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.side__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
.side__content {
  border: 2px solid black;
  border-radius: 2rem;
  padding: 0.8rem;
  width: 15rem;
  text-align: center;
}
.next {
  padding: 1rem 40rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}
.info__head {
  text-align: left;
  width: 20rem;
}
.activeanimation {
  transform: rotateZ(180deg);
}
.infobox__content {
  font-size: 1.2rem;
  padding: 0.2rem;
  text-align: left;
  display: none;
}
.activedisplay {
  display: block;
}
.activeColor {
  background-color: #ffdd00;
}
.activeanim {
  transition: all ease-in 1s;
}
/* hr{
  background-color: #ffdd00;
} */
.info__head {
  font-weight: 600;
  font-size: 1.3rem;
}
.footer__flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  gap: 2rem;
  padding: 1rem;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.right__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.app__data {
  display: none;
}
.app__data__active {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
  top: -65%;
  left: 49%;

  background-color: white;
  padding: 1rem;
}

/* ============================================= */
@media screen and (min-width: 300px) and (max-width: 699px) {
  .icon__logo {
    width: 2rem;
    max-height: 3rem;
  }
  header {
    background-color: #fffce6;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 6vh;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .nav__bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 1rem 0;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    width: 100vw;
    margin-top: 1rem;
    flex-wrap: wrap;
    /* box-shadow: 1px 19px 30px -6px lightgrey; */
  }
  a {
    text-decoration: none;
    color: black;
    font-family: "system-ui,Circular Medium", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue";
    font-weight: 700;
    /* font-display: bold; */
    box-sizing: border-box;
    font-size: 0.8rem;
  }
  .faq,
  .creator {
    position: relative;
  }
  .faq::after {
    content: "";
    position: absolute;
    background-color: rgb(195, 201, 207);
    border-radius: 3rem;
    padding: 1rem;
    width: 2rem;
    left: -80%;
    opacity: 0.4;
    top: -50%;
    z-index: 9;
    /* transition: all ease-in 400ms; */
  }
  /* .faq:hover::after {
    opacity: 0.3;
  } */

  .left__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .right__nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    /* width: 20rem; */
  }

  .login {
    position: relative;
    width: 3rem;
  }
  .login::after {
    content: "";
    position: absolute;
    background-color: rgb(195, 201, 207);
    border-radius: 3rem;
    padding: 1rem;
    width: 2rem;
    left: -29%;
    opacity: 0;
    top: -28%;
    z-index: 9;
    /* transition: all ease-in 400ms; */
  }

  .login:hover::after {
    opacity: 0.3;
  }
  .signup {
    background-color: #ffdd00;
    padding: 0.6rem;
    transition: all ease-in 400ms;
    border: none;
    border-radius: 2rem;
    box-sizing: border-box;
    width: 4rem;
    outline: none;
    /* margin-left: 2rem; */
  }
  .signup:hover {
    border: 1px #ffdd00 solid;
  }
  .upper {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding: 1rem;
    background-color: #fffce6;
    padding-bottom: 3rem;
  }
  .section__header {
    text-align: center;
  }
  .sub__header {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }
  .side__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
  }
  .side__content {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.8rem;
    width: 15rem;
    text-align: center;
  }
  .next {
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .info__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
  }
  .info__head {
    text-align: left;
    width: 20rem;
  }
  .activeanimation {
    transform: rotateZ(180deg);
  }
  .infobox__content {
    font-size: 1rem;
    padding: 0.2rem;
    text-align: left;
    display: none;
  }
  .activedisplay {
    display: block;
  }
  .activeColor {
    background-color: #ffdd00;
  }
  .activeanim {
    transition: all ease-in 1s;
  }
  /* hr{
    background-color: #ffdd00;
  } */
  .info__head {
    font-weight: 600;
    font-size: 1.3rem;
  }
  .footer__flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 1rem;
    font-weight: 400;
    gap: 2rem;
    padding: 1rem;
  }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .right__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .app__data {
    display: none;
  }
  .app__data__active {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
    top: -65%;
    left: 49%;

    background-color: white;
    padding: 1rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1080px) {
  .nav__bar {
    width: 100vw;
    gap: 30rem;
  }
  .signup {
    width: 5rem;
  }
  .faq::after {
    left: -59%;
    /* opacity: 0.4; */
    top: -39%;
  }
  .next {
    padding: 1rem 4rem;
  }
  .infobox__content {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1780px) {
  .nav__bar {
    gap: 52rem;
    width: 100vw;
  }
  .signup {
    width: 5rem;
  }
  .faq::after {
    left: -59%;
    /* opacity: 0.4; */
    top: -39%;
  }
  .next {
    padding: 1rem 4rem;
  }
  .infobox__content {
    font-size: 1.6rem;
  }
}
