@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
  font-family: 'Arvo', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111111;
  color: #fff ;
}

.heading{
    padding-bottom: 30px;
    font-size: 2rem;
}

p{
    padding-bottom: 20px;
    font-size: 18px;
}

h1{
    font-size: 50px;
}
