<%- include("teacher-navbar") -%>
<!DOCTYPE html>
<html>

<head>
    <title>Announcement</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/announcement-student.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="box-main">
    <div class="notice" style="width:1000px">
        <p style="text-align: center; margin-top: 7%; font-size:larger;">
            The class of Data Structures And Algorithms is shifted to Thursday on 2pm.
            <br>
            <br>
            - Dr Vibha Pratap
        </p>
    </div>

  </div>

</body>

</html>