<!DOCTYPE html>
<html>
    <head>
        <title>Institutes</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/institute-list.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul>
                <li><p class="text">INSTITUTES</p></li>
                <!--<li><a href="#">Profile</a></li>-->
            </ul>
        </nav>
        <div class="card-group">
            <div class="card" style=" border: none;">
                <img src="../assets/img/college-logo1.jpg" class="card-img-top" alt="..."
                    style="height: 220px; width: 230px; margin-left: 45px;">
                <div class="card-body">
                    <h5 class="card-title">IGDTUW</h5>
                    <p class="card-text"> Kashmere Gate, New Delhi</p>
                    <a class="card-email" href="https://www.igdtuw.ac.in/">igdtuw.ac.in</a>
                    <button type="button" class="btn" onClick="window.location.href='/teacher-login'">
                        Enter
                    </button>
    
                </div>
            </div>
            <div class="card" style=" border: none;">
                <img src="../assets/img/college-logo2.jpg" class="card-img-top" alt="..."
                    style="height: 220px; width: 270px;">
                <div class="card-body">
                    <h5 class="card-title">DTU</h5>
                    <p class="card-text">Rohini, New Delhi</p>
                    <a class="card-email" href="http://dtu.ac.in/"">dtu.ac.in</a>
                    <button type="button" class="btn" onClick="window.location.href='/teacher-login'">
                        Enter
                    </button>
    
                </div>
            </div>
            <div class="card" style=" border: none;">
                <img src="../assets/img/college-logo3.jpg" class="card-img-top" alt="..."
                    style="height: 220px; width: 240px; margin-left: 40px;">
                <div class="card-body">
                    <h5 class="card-title">NSUT</h5>
                    <p class="card-text">Dwarka, New Delhi</p>
                    <a class="card-email" href="http://www.nsut.ac.in/">nsut.ac.in</a>
                    <button type="button" class="btn" onClick="window.location.href='/teacher-login'">
                        Enter
                    </button>
                </div>
            </div>
            <div class="card" style=" border: none;">
                <img src="../assets/img/colle-logo4.jpg" class="card-img-top" alt="..."
                    style="height: 220px; width: 240px; margin-left: 40px;">
                <div class="card-body">
                    <h5 class="card-title">IIIT-D</h5>
                    <p class="card-text">Okhla, Phase-3, New Delhi</p>
                    <a class="card-email" href="https://www.iiitd.ac.in/">iiit.ac.in</a>
                    <button type="button" class="btn" onClick="window.location.href='/teacher-login'">
                        Enter
                    </button>
                </div>
            </div>
        </div>