<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Pricing</title>
  <link rel="stylesheet" href="../css/pricing.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="pricing-columns pricing-section">
  <label class="toggler toggler--is-active" id="filt-monthly">Monthly</label>
  <div class="toggle">
    <input type="checkbox" id="switcher" class="check">
    <b class="b switch"></b>
  </div>
  <label class="toggler" id="filt-hourly">Yearly</label>
  <div id="monthly" class="wrapper-full">
    

    <div class="pricingTable">
  
        <ul class="pricingTable-firstTable">
          <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Trial</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>0</span><span></span></p>
            <ul class="pricingTable-firstTable_table__options">
                <li class="tick">Attendance</li>
              <li class="tick">Assignments</li>
              <li class="tick">Announcements</li>
              <li  class="tick">Resources</li>
              
          </ul>
            <button class="pricingTable-firstTable_table__getstart">Get 15 days free </button>
          </li><li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Basic</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>400</span><span>Month</span></p>
            <ul class="pricingTable-firstTable_table__options">
                <li class="tick">Attendance</li>
                <li class="cross">Assignments</li>
                <li class="cross">Announcements</li>
                <li class="cross">Resources</li>
                </ul>
                
            
            <button class="pricingTable-firstTable_table__getstart">Buy Now</button>
          </li><li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Advance</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>600</span><span>Month</span></p>
            <ul class="pricingTable-firstTable_table__options">
                <li class="tick">Attendance</li>
                <li class="tick">Assignments</li>
                <li class="tick">Announcements</li>
                <li class="tick">Resources</li>
            </ul>
            <button class="pricingTable-firstTable_table__getstart">Buy Now</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
<div id="hourly" class="wrapper-full hide">
   
    <ul class="pricingTable-firstTable">
        <li class="pricingTable-firstTable_table">
          <h1 class="pricingTable-firstTable_table__header">Trial</h1>
          <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>0</span><span></span></p>
          <ul class="pricingTable-firstTable_table__options">
            <li class="tick">Attendance</li>
            <li class="tick">Assignments</li>
            <li class="tick">Announcements</li>
            <li  class="tick">Resources</li>
          </ul>
          <button class="pricingTable-firstTable_table__getstart">Get 15 days free </button>
        </li><li class="pricingTable-firstTable_table">
          <h1 class="pricingTable-firstTable_table__header">Basic</h1>
          <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>4500</span><span>Year</span></p>
          <ul class="pricingTable-firstTable_table__options">
            <li class="tick">Attendance</li>
            <li class="cross">Assignments</li>
            <li class="cross">Announcements</li>
            <li class="cross">Resources</li>
          </ul>
          <button class="pricingTable-firstTable_table__getstart">Buy Now</button>
        </li><li class="pricingTable-firstTable_table">
          <h1 class="pricingTable-firstTable_table__header">Advance</h1>
          <p class="pricingTable-firstTable_table__pricing"><span>₹</span><span>7000</span><span>Year</span></p>
          <ul class="pricingTable-firstTable_table__options">
            <li class="tick">Attendance</li>
            <li class="tick">Assignments</li>
            <li class="tick">Announcements</li>
            <li class="tick">Resources</li>
          </ul>
          <button class="pricingTable-firstTable_table__getstart">Buy Now</button>
        </li>
      </ul>
    </div>
    </div>


    </div>
  </div>
</section>
<!-- partial -->
  <script  src="js/pricing.js"></script>

</body>
</html>
