<%- include("navbar-student") -%>
<!DOCTYPE html>
<html>
    <head>
        <title>students-profile</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/student-assignment.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <div class="profile" style="margin-left:550px;">
        <h2 style="text-align:center"><u>User Profile</u></h2>
        <div class="card" style="text-align:center">
            <img src="../assets/img/s.png" alt="xyz" style="width:50%">
            <p class="title">Student</p>
            <h1>Simmi Thapad</h1>
            <p>Enrollment No. : 03101012021</p>
            <p>Program : BTech.</p>
            <p>Batch: 2021-2025</p>
            <p>Branch: CSE1</p>
            <p>Year: 2</p>
            <p>Semester: 3</p>
            <p>E-mail id: simmi031btcse21@igdtuw.ac.in</p>
            <p>Mobile No.: 9128749797</p>
            <!--<img src="upload/IMG_20220901_000905_583.jpg" alt="xyz" style="width:50%">
            <p class="title">Student</p>
            <h1>Aastha Singhal</h1>
            <p>Enrollment No. : 00201012021</p>
            <p>Program : BTech.</p>
            <p>Batch: 2021-2025</p>
            <p>Branch: CSE1</p>
            <p>Year: 2</p>
            <p>Semester: 3</p>
            <p>E-mail id: aastha002btcse21@igdtuw.ac.in</p>
            <p>Mobile No.: 8585901464</p>
            <img src="upload/Aastha photo.jpg" alt="xyz" style="width:50%">
            <p class="title">Student</p>
            <h1>Aastha Singhal</h1>
            <p>Enrollment No. : 00201012021</p>
            <p>Program : BTech.</p><p>Batch: 2021-2025</p>
            <p>Branch: CSE1</p>
            <p>Year: 2</p>
            <p>Semester: 3</p>
            <p>E-mail id: aastha002btcse21@igdtuw.ac.in</p>
            <p>Mobile No.: 8585901464</p>-->
            <!--<p style="background-color: black; height:25px;"></p>-->
        </div>
    </div>
    </body>