<%- include("teacher-navbar") -%>
<!DOCTYPE html>
<html>
    <head>
        <title>student-resource</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/student-resource.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <button type="button" class="btn" style="margin-left:auto; margin-right:auto;">
            Data Structures and Algorithm
         </button>
        
        </div>
    </body>