<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <title>Sign up</title>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Sign Up</h1>
            <form action="">
                <div class="input-group">
                    <div class="input-field">
                    <input type="text" placeholder="name">
                    </div>

                    <div class="input-field">
                    <input type="text" placeholder="address">
                    </div>

                    <div class="input-field">
                    <input type="text" placeholder="affiliation number">
                    </div>

                    <div class="input-field">
                    <input type="email" placeholder="email">
                    </div>

                    <div class="input-field">
                    <input type="password" placeholder="password">
                    </div>
                    <p>Already have an account? <a href="#">Login</a></p>
                </div>
                <div class="btn-field">
                    <button type="button" onClick="window.location.href='/institute-list-teacher'">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>