<%- include("navbar-student") -%>
<!DOCTYPE html>
<html>
    <head>
        <title>students-assignments</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/student-assignment.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
   <!--- <nav class="navbar navbar-expand-lg background navbar-dark navstick">
        <div class="container">
        <input type="radio" name="s" id="assignment" checked>
        <input type="radio" name="s" id="attendance">
        <input type="radio" name="s" id="announcement">
        <input type="radio" name="s" id="resources">
        <input type="radio" name="s" id="testcentre">
        <input type="radio" name="s" id="profile">
        <nav>   
            <div class="slider"></div>
            <label class="assignment" for="assignment">
                Assignment
            </label>
            <label class="attendance" for="attendance">
                Attendance
            </label>
            <label class="announcement" for="announcement">
                Announcement
            </label>
            <label class="resources" for="resources">
                Resources
            </label>
            <label class="testcentre" for="testcentre">
                Test Centre
            </label>
            <label class="profile" for="profile">
                Profile
            </label>
        </nav>
    </div>
</nav>-->


<div class="box-main">
        <div class="box">
            <p class="text-big">Linked List Assignment</p>
            <p class="text-small">Data Structures</p>
            <button type="button" class="btn">
                Upload
            </button>
        </div>
        <div class="box">
            <p class="text-big">Unit-3 Assignment</p>
            <p class="text-small">Applied Mathematics</p>
            <button type="button" class="btn">
                Upload
            </button>
        </div>
        <!--<div class="box">
            <p class="text-big">Heading of the Assignment</p>
            <p class="text-small">Name of Subject</p>
            <button type="button" class="btn">
                Upload
            </button>
        </div>
        <div class="box">
            <p class="text-big">Heading of the Assignment</p>
            <p class="text-small">Name of Subject</p>
            <button type="button" class="btn">
                Upload
            </button>
        </div>-->
    </div>
    </body>
</html>