<%- include("navbar-student") -%>
<!DOCTYPE html>
<html>
    <head>
        <title>student-resource</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/student-resource.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="button">
        <button type="button" class="btn">
           Applied Physics 
        </button>
        <button type="button" class="btn">
           Applied Mathematics
         </button>
         <button type="button" class="btn">
            Programming in C
         </button>
         <button type="button" class="btn">
            Data Structures and Algorithm
         </button>
         <button type="button" class="btn">
            Discrete Mathematics
         </button>
        </div>
    </body>