<!DOCTYPE html>
<html>
    <head>
        <title>student</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/navbar-student.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg background navbar-dark navstick">
        <div class="container">
              <input type="button" value="assignment" checked>  
              <input type="button" value="attendance">
              <input type="button" value="announcement">
              <input type="button" value="resources">
            
              <input type="button" value="profile">
        
        <nav>
            
            <button id="assignmnet" onClick="window.location.href='/assignment-vibha'">
                Assignment
            </button>
            <button id="attendance" onClick="window.location.href='/student-list'">
                Attendance
            </button>
            <button id="announcement" onClick="window.location.href='/announcement-vibha'">
                Announcement
            </button>
            <button id="resources" onClick="window.location.href='/resources-vibha'">
                Resources
            </button>
            <!--<button id="testcentre" onClick="window.location.href=''">
                Test Centre
            </button>-->
            <button id="profile" onClick="window.location.href=''">
                Profile
            </button>
            <button id="profile" onClick="window.location.href='/'">
                Log Out
            </button>
            <div class="slider"></div>
        </nav>
    </div>
      </nav>
      <script src="js/navbar.js"></script>
    </body>
</html>