<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/teacher-login.css">
    <title>Teacher-login</title>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="input-group">
                    
                    <div class="input-field">
                    <input type="email" placeholder="email">
                    </div>

                    <div class="input-field">
                    <input type="password" placeholder="password">
                    </div>
                    <p>Forgot password? <a href="#">click here</a></p>
                </div>
                <div class="btn-field">
                    <button type="button" onClick="window.location.href='/teacher-attendance'">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>