<!DOCTYPE html>
<html>
    <head>
        <title>teachers-attendance</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/teacher-attendance.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul>
                <li><p class="text">Classes You Teach</p></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </nav>
<div class="box-main">

        <div class="box">
            <p class="text-big">CSE-1</p>
            <p class="text-small">Data Structures</p>
            <div class="dropdown">
                <button class="dropbtn btn" >Enter Class To</button>
                <div class="dropdown-content">
                  <a onclick="window.location.href='/student-list'">Mark Attendance</a>
                  <a onclick="window.location.href='/resource-teacher'">Add Resources</a>
                  <a onclick="window.location.href='/assignment-teacher'">Add Assignment</a>
                  <a onclick="window.location.href='/announcement-teacher'">Add Announcement</a>
                </div>
              </div>
        </div>
        <div class="box">
            <p class="text-big">CSAI-1</p>
            <p class="text-small">Data Structures</p>
            <div class="dropdown">
                <button class="dropbtn btn" >Enter Class To</button>
                <div class="dropdown-content">
                  <a onclick="window.location.href='/student-list'">Mark Attendance</a>
                  <a onclick="window.location.href='/resource-teacher'">Add Resources</a>
                  <a onclick="window.location.href='/assignment-teacher'">Add Assignment</a>
                  <a onclick="window.location.href='/announcement-teacher'">Add Announcement</a>
                </div>
              </div>
        </div>
       
        <div class="box">
            <p class="text-big">IT-1</p>
            <p class="text-small">Design and Analysis</p>
            <div class="dropdown">
                <button class="dropbtn btn" >Enter Class To</button>
                <div class="dropdown-content">
                  <a onclick="window.location.href='/student-list'">Mark Attendance</a>
                  <a onclick="window.location.href='/resource-teacher'">Add Resources</a>
                  <a onclick="window.location.href='/assignment-teacher'">Add Assignment</a>
                  <a onclick="window.location.href='/announcement-teacher'">Add Announcement</a>
                </div>
              </div>
        </div>
      
        <div class="box">
            <p class="text-big">IT-2</p>
            <p class="text-small">Design and Analysis</p>
            <div class="dropdown">
                <button class="dropbtn btn" >Enter Class To</button>
                <div class="dropdown-content">
                  <a onclick="window.location.href='/student-list'">Mark Attendance</a>
                  <a onclick="window.location.href='/resource-teacher'">Add Resources</a>
                  <a onclick="window.location.href='/assignment-teacher'">Add Assignment</a>
                  <a onclick="window.location.href='/announcement-teacher'">Add Announcement</a>
                </div>
              </div>

        </div>
    </div>
    </body>
</html>