<%- include("navbar-student") -%>
<!DOCTYPE html>
<html>
    <head>
        <title>students-assignments</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/test-centre.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="box-main">
          <div class="test-box">  
            <div class="box">
                <p class="text-big">AM Unit 1 MCQ Test Time:15min</p>
            </div>
            <div class="box">
                <p class="text-big">Prog in C Unit 1 Time:30min</p>
            </div>
            <div class="box">
                <p class="text-big">Discrete Structures Unit-3 Time:30min</p>
            </div>
            <div class="box">
                <p class="text-big">DSA Coding Test Time:60min</p>
            </div>
           </div>
            <div class="button">
                <button type="button" class="btn" onClick="window.location.href='/test-play'">
                    Take Test
                </button>
                <button type="button" class="btn" onClick="window.location.href='/test-play'">
                    Take Test
                </button>
                <button type="button" class="btn" onClick="window.location.href='/test-play'">
                    Take Test
                </button>
                <button type="button" class="btn" onClick="window.location.href='/test-play'">
                    Take Test
                </button>
            </div>
        
        </div>
        </body>
    </html>  