*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('images/background.avif');
}

h2 {
    top: 0;
    color: rgba(9, 6, 6, 0.567);
    font-size: 80px;
    text-align: center;
    font-family: roboto;
    
  }

img{
    size:48px;
    margin-right: 1.2rem;
}

 input{
    font-size: 1.5rem;
    padding: 1rem ;
    border-radius: 0.2rem;
    height: 60px;
    width: 350px;
}

input[type='button']:hover{
    cursor: pointer;
}

#grab,#input{
    border-radius: 5px;
    border-style: solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
    font-family: roboto;
}

@media(max-width:373px)
{
    body{
        width:fit-content;
    }
}