@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root{
  --green:#27ae60;
  --black:#2c2c54;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;

}

*::selection{
  background:var(--green);
  color:#fff;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}



.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--green);
  color:#fff;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background:var(--black);
}

.heading{
  text-align: center;
  color:var(--black);
  text-transform: uppercase;
  padding:1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.heading span{
  color:var(--green);
  text-transform: uppercase;
}

.header-1{
  background:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

.logo{
  color:var(--black);
  font-weight: bolder;
  font-size: 3rem;
}

.logo i{
  padding-right: .5rem;
  color:var(--green);
}

.header-1 .search-box-container{
  display: flex;
  height:5rem;
}

.header-1 .search-box-container #search-box{
  height: 100%;
  width:100%;
  padding:1rem;
  font-size: 2rem;
  color:#333;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.header-1 .search-box-container label{
  height: 100%;
  width:8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  color:#fff;
  background:var(--green);
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container label:hover{
  background:var(--black);
}

.header-2{
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  position: relative;
}

.header-2.active{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 10000;
}

.header-2 .navbar a{
  padding:.5rem 1.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  color:var(--black);
}

.header-2 .navbar a:hover{
  background:var(--green);
  color:#fff;
}

.header-2 .icons a{
  font-size: 2.5rem;
  color:var(--black);
  padding-left: 1rem;
}

.header-2 .icons a:hover{
  color:var(--green);
}

#menu-bar{
  font-size: 3rem;
  border-radius: .5rem;
  border:.1rem solid var(--black);
  padding:.8rem 1.5rem;
  color:var(--black);
  cursor: pointer;
  display: none;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image{
  flex:1 1 40rem;
  padding-top: 5rem;
}

.home .image img{
  width:70%;
}

.home .content{
  flex:1 1 40rem;
}

.home .content span{
  font-size: 3rem;
  color:#666;
}

.home .content h3{
  font-size: 5rem;
  color:var(--black);
}

.banner-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.banner-container .banner{
  flex:1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.banner-container .banner .content{
  position: absolute;
  top:50%; left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3{
  font-size: 3rem;
  color:var(--black);
}

.banner-container .banner .content p{
  font-size: 2rem;
  color:#333;
}

.banner-container .banner:hover img{
  transform:scale(1.2) rotate(-5deg);
}


.product .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.product .box-container .box{
  flex:1 1 30rem;
  text-align: center;
  padding:2rem;
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
}

.product .box-container .box img{
  height: 20rem;
}

.product .box-container .box .discount{
  position: absolute;
  top:1rem; left: 1rem;
  background:rgba(0,255,0,.1);
  color:var(--green);
  padding:.7rem 1rem;
  font-size: 2rem;
}

.product .box-container .box .icons{
  position: absolute;
  top:.5rem; right:-6rem;
}

.product .box-container .box:hover .icons{
  right:1rem;
}

.product .box-container .box .icons a{
  display: block;
  height:4.5rem;
  width:4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color:var(--black);
  background:rgba(0,0,0,.05);
  border-radius: 50%;
  margin-top: .7rem;
}

.product .box-container .box .icons a:hover{
  background:var(--green);
  color:#fff;
}

.product .box-container .box h3{
  color:var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .stars i{
  padding:1rem .1rem;
  font-size: 1.7rem;
  color:gold;
}

.product .box-container .box .price{
  font-size: 2rem;
  color:#333;
  padding:.5rem 0;
}

.product .box-container .box .price span{
  font-size: 1.5rem;
  color:#999;
  text-decoration: line-through;
}

.product .box-container .box .quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.product .box-container .box .quantity span{
  padding:0 .7rem;
  font-size: 1.7rem;
}

.product .box-container .box .quantity input{
  border:.1rem solid rgba(0,0,0,.3);
  font-size: 1.5rem;
  font-weight: bolder;
  color:var(--black);
  padding:.5rem;
  background:rgba(0,0,0,.05);
}

.product .box-container .box .btn{
  display: block;
}

.deal{
  background:url(../images/deal-bg.png) no-repeat;
  background-position: center;
  background-size: 82%;
  padding-top: 40rem;
  padding-bottom: 10rem;
}

.deal .content{
  max-width: 50rem;
}

.deal .content .title{
  font-size: 4rem;
  color:var(--black);
}

.deal .content p{
  font-size: 1.7rem;
  padding:1rem 0;
  color:#333;
}

.deal .content .count-down{
  display: flex;
  gap:1rem;
  padding:.5rem 0;
}

.deal .content .count-down .box{
  width:9rem;
  text-align: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
}

.deal .content .count-down .box h3{
  color:var(--black);
  background:#fff;
  height: 7rem;
  line-height: 7rem;
  width:100%;
  font-size: 5rem;
}

.deal .content .count-down .box span{
  display: block;
  background:var(--black);
  color:#fff;
  width:100%;
  padding:.5rem;
  font-size: 2rem;
}


}

.newsletter{
  background:url(../images/newsletter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding:5rem 2rem;
}

.newsletter h3{
  font-size: 3rem;
  color:var(--black);
}

.newsletter form{
  max-width: 55rem;
  display: flex;
  align-items: center;
  margin:1rem auto;
  padding:1.5rem;
  background:rgba(0,0,0,.1);
}

.newsletter form .box{
  width:100%;
  padding:.7rem 1.5rem;
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.newsletter form .btn{
  margin-top: 0;
}

.footer .box-container{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box .share a{
  padding:0;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
}

.footer .box-container .box p{
  font-size: 1.3rem;
  color:#666;
  padding:.7rem 0;
}

.footer .box-container .box .links{
  padding:1rem 0;
}

.footer .box-container .box .links a{
  display: block;
  padding:.5rem 0;
  font-size: 1.7rem;
  color:#333;
}

.footer .box-container .box .links a:hover{
  text-decoration: underline;
  color:var(--green);
}

.footer .credit{
  padding:2.5rem 1rem;
  border-top: .1rem solid rgba(0,0,0,.1);
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}


.footer .credit span{
  color:var(--green);
}

  /* media queries  */

@media(max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media(max-width:991px){

  .header-1,
  .header-2{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){

  #menu-bar{
    display: initial;
  }

  .header-2 .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background:var(--black);
    padding:1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active{
    display: initial;
  }

  .header-2 .navbar a{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    background:#fff;
    padding:1rem;
    margin:1.5rem 0;
  }

  .home .content{
    text-align: center;
  }

  .home .content h3{
    font-size: 4rem;
  }

  .deal{
    background-position: left;
  }

  .deal .content{
    max-width: 100%;
    text-align: center;
  }

  .deal .content .count-down{
    justify-content: center;
  }

  .contact form .inputBox input{
    width:100%;
  }

  .newsletter h3{
    font-size: 2.2rem;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

  .header-1{
    flex-flow: column;
  }

  .header-1 .search-box-container{
    width:100%;
    margin-top: 2rem;
  }

  .logo{
    font-size: 4rem;
  }

  .deal .content .count-down .box h3{
    font-size: 4rem;
  }

  .deal .content .count-down .box span{
    font-size: 1.5rem;
  }

}



/* Blog Page */
.background-layer-second {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#blog-header {
  position: relative;
  background: url('../images/blog.jpg');
  height: 300px;
  background-size: cover;
}
#blog-header .blog-title {
  position: relative;
    color: #fff;
    width: 60%;
    padding-top: 80px;
}
#blog-header .blog-title h1 {
  font-size: 45px;
}
#blog-header .tag-and-date {
  padding-top: 10px;
}
#blog-header .tag-and-date {
  width: 35%;
}
#blog-header .tag-and-date span {
  margin-right: 25px;
}
#blog-header .tag-and-date span.category-tag, .about-me-table span.category-tag {
  color: #fff;
    background: cornflowerblue;
    padding: 5px;
    position: relative;
    border-radius: 10px;
}
#blog-header .tag-and-date span.date {
  position: relative;
  color: #fff;
}
#blog-description {
  padding-top: 40px;
  padding-bottom: 40px;
}
#blog-description .description-box {
  line-height: 35px;
  width: 80%;
}
/* Blog Page Ends Here */

container {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
.d-flex {
  display: flex;
}

.topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


/* Contact Me Page Here */

#contact-form {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:18px;
}
#contact-form .form-box {
  width: 80%;
}
#contact-form .contact-box {
  width: 20%;
}
#contact-form .form-box .form-group {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
 
}
#contact-form .form-box .form-group label {
  width: 100%;
  font size: 20 px;
 
}
#contact-form .form-box .form-group input, textarea {
  width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;

}
#contact-form .submit-button {
  background: cornflowerblue;
    border: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}
#contact-form .contact-box {
  border: 1px solid #ccc;
  padding: 20px;
}
/* Contact Page Ends Here */


/* Research Page Here */
.description{
  font-size: 16px;
}

#research-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
#research-section .reference-box {
  padding-right: 50px;
}
#research-section .website-box {
  padding-left: 50px;
}
#research-section .container {
  padding-bottom: 50px;
}

/* Research Page Ends Here */



/* counter */

/*
    HTML VIDEO AS BACKGROUND:
    I updated code from Dudley Storey  
*/
.twp-video-background {
  background: #000;
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  overflow: hidden;
  box-sizing: border-box; 
}
.twp-video-foreground,
.twp-video-background video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
  object-fit: cover; 
}

.twp-video-foreground{
  padding-bottom: 56.25%;
  box-sizing: border-box; 
}

.twp-video-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: 0.5;
  box-sizing: border-box; 
}