@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    height: 100vh;
    background: linear-gradient(to right,#96deda, #50c);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 500px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.counters{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

span{
    font-size: 15px;
    color: black;
}
.charactersCounter,.wordsCounter{
    
    height: 90px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0, 0.3);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
textarea {
    color: black;
    width: 90%;
    height: 50%;
    font-size: 20px;
    padding: 15px;
    outline: none;
    resize: none;
    background: rgba(255,255,255,1);
    border-radius: 5px;
    
}
