*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    width: auto;
    height: 50px;
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: opacity .5s;
    background:linear-gradient(to right, #4568DC, #B06AB3);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav div, button, input{
    margin: 5px;
}
.nav:hover{
    cursor: pointer;
}
buttton:hover{
    cursor: pointer;
}
.clr{
    height: 35px;
    width: 35px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform .5s;
}
.clr:hover{
    transform: scale(1.2);
}
.clr:nth-child(1){
    background-color: #000;
}
.clr:nth-child(2){
    background-color: red;
}
.clr:nth-child(3){
    background-color: orange;
}
.clr:nth-child(4){
    background-color: blue;
}
.clr:nth-child(5){
    background-color: purple;
}
.clr:nth-child(6){
    background-color: yellowgreen;
}
.clr:nth-child(7){
    background-color: yellow;
}
.clr:nth-child(8){
    background-color: #fff;
}
button{
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #03bb56;
    color: #fff;
    border: 3px solid white;
    font-size: 15px;
    font-weight: bold;
}
.save{
    background-color: #0f65d4;
}
input[type="color"] {
    width: 60px;
    height: 40px;
}
#ageOutputId{
    color: white;
    font-weight: bold;
    font-size: 15pt;
}
#ageInputId {
    background: linear-gradient(to right, #000428 0%, #004e92 100%);
    height: 7px;
    outline: none;
    -webkit-appearance: none;
    cursor: ew-resize;
    border-radius: 5px;
    border: 3px solid white;
    accent-color: white;
}
.emoji{
    font-size: 40px;
    padding-bottom: 10px;
}