@font-face {
    font-family: Open-Sans;
    src: url('OpenSans-Semibold.ttf');
}

body {
    text-align: center;
    background: #1B1A58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

h1 {
    margin-top: 100px;
    font-size: 350%;
    font-family: Open-Sans;
    color: #fff;
    text-transform: uppercase;
}

.info {
    /* margin-top: 7%; */
    /* margin-left: 32%; */
    /* margin-right: 32%; */
    width: 40%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px black;
    flex-direction: column;
    background-color: #282770;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: #888888 7% 8%; */
}

input {
    font-size: 1rem;
    border: 0px solid;
    background-color: #2F2F75;
    border-radius: 30px;
    margin-top: 6%;
    height: 20%;
    width: 80%;
    padding: 2%;
    box-shadow: none;
    outline: none;
    color: white;
    opacity: 100%;
}

::placeholder {
    color: white;
    opacity: 40%;
}

button {
    border: none;
    outline: none;
    padding: 1%;
    border-radius: 50px;
    font-size: 1rem;
    width: 20%;
    height: 10%;
    padding: 1%;
    margin-top: 5%;
    background-color: #f269fc;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* visibility: hidden; */
}

.buttonjs:active {
    opacity: 1;
    background-color: #d1ced1;
    box-shadow: 0px 8px 9px #888888 inset;
}

.buttonjs:hover {
    transform: scale(1.1);
    opacity: 0.9;
    /* box-shadow: inset; */
}

p {
    font-size: larger;
    color: #fff;
}

#demo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* .block
{
    position: relative;
    display: inline-block;
    width: 15em;
    height: 8em;
    margin-top: -16%;
    margin-right: -39%;
    z-index: -1;
    border-radius: 6%;
    background-color: rgba(128, 128, 128, 0.199); 
} */

@media (max-width: 850px) {
    html {
        font-size: 70%;
        ;
    }
}

@media (max-width: 750px) {
    html {
        font-size: 60%;
        ;
    }
    .info {
        width: 100%;
        float: none;
        height: 100%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 50%;
        ;
    }
    .info {
        width: 100%;
        float: none;
        height: 100%;
    }
}