body {
    text-align: center;
    background-color: rgba(82, 190, 163, 0.507);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

h1 {
    margin-top: 5%;
    font-size: 400%;
}

.info {
    /* margin-top: 7%; */
    /* margin-left: 32%; */
    /* margin-right: 32%; */
    width: 40%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px black;
    flex-direction: column;
    background-color: rgb(215, 128, 142);
    border-radius: 15px;
    /* box-shadow: #888888 7% 8%; */
}

input {
    font-size: large;
    border: 0px solid;
    background-color: black;
    border-radius: 10px;
    margin-top: 6%;
    height: 20%;
    width: 80%;
    padding: 2%;
    box-shadow: none;
    outline: none;
    color: white;
}

::placeholder {
    color: white;
}

button {
    border: none;
    outline: none;
    padding: 1%;
    border-radius: 8px;
    font-size: large;
    width: 40%;
    height: 20%;
    padding: 2%;
    margin-top: 5%;
    opacity: 0.35;
    background-color: black;
    color: white;
    /* visibility: hidden; */
}

.buttonjs:active {
    opacity: 1;
    background-color: #d1ced1;
    box-shadow: 0px 8px 9px #888888 inset;
}

.buttonjs:hover {
    transform: scale(1.1);
    opacity: 0.9;
    /* box-shadow: inset; */
}

p {
    font-size: larger;
}

#demo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .block
{
    position: relative;
    display: inline-block;
    width: 15em;
    height: 8em;
    margin-top: -16%;
    margin-right: -39%;
    z-index: -1;
    border-radius: 6%;
    background-color: rgba(128, 128, 128, 0.199); 
} */

@media (max-width: 850px){
    html{
        font-size: 70%;;
    }
}
@media (max-width: 750px){
    html{
        font-size: 60%;;
    }
}
@media (max-width: 500px){
    html{
        font-size: 50%;;
    }
}