/* CSS Reset & Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
    -webkit-appearance: none;
  }
  
  .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E4E9F7;
    transition: 0.8s all;
  }
  
  h1 {
    margin-bottom: 1.5%;
    color: #000000;
    font-weight: normal;
  }
  
  .container {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .top-buttons {
    display: flex;
    align-items: center;
  }
  
  input {
    padding: 25px;
    color: #000000;
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: rgba(206, 195, 195, 0.701);
    border: none;
    outline: none;
    border-radius: 100px;
    margin: 0.2em;
  }
  
  .first-row,
  .second-row,
  .third-row,
  .fourth-row,
  .fifth-row {
    margin-bottom: 4px;
  }
  
  input[type="button"] {
    color: #000000;
  }
  
  input[type="text"] {
    background-color: rgba(206, 195, 195, 0.701);
    width: 222.5px;
  }
  
  input[type="button"]:hover {
    background-color: #707070;
    color: #707070;
  }
  
  #clear-button {
    color: #000000;
    background-color: #0d6efd;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  #github-icon {
    margin-right: 10px;
  }
  
  .theme-button {
    all: unset;
    cursor: pointer;
  }