body {
  background-color: #f0f0f0;
  font-size:13px;
}

.card,
.card-panel {
  padding: 15px, 20px;
  
}
.card-panel:hover{
  box-shadow: 5px 5px 5px 0 rgba(3, 3, 3, 0.314);
}

.container-fluid {
  padding: 1rem 2.5rem;
  margin: auto;
}

.row {
  margin: 0 -0.75rem;
}

.main {
  position: absolute;
  width: calc(100% -250px);
  top: 125px;
  margin-left: 250px;
}

.subheader {
  color: rgba(0, 0, 0, 0.999);
  font-weight: 500;
  font-size: 28px;
}

/* nav */
nav {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0, 0);
}

nav ul li {
  text-align: center;
}

nav.ul.right {
  padding-right: 12px;
}

nav ul.right.li {
  max-width: 48px;
}

nav ul a {
  padding-right: 0 12px;
  ;
}

nav ul a img {
  height: 32px;
  width: 32px;
  vertical-align: middle;
  margin-left: -5px;
}

.nav-wrapper ul a:hover {
  background-color:rgba(7, 160, 255, 0.177);
  box-shadow: 5px 5px 5px 0 rgba(7, 160, 255, 0.177);
  border-radius: 25px;
}

.nav-wrapper .title {
  font-size: 25px;
  color: #000000;
}

.nav-wrapp .btn-flat {
  background-color: #4285f4 !important;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  width: 94px
}

.nav-2,
.nav-2 i {
  height: 56px !important;
  line-height: 56px !important;
  min-height: 56px !important;
}

.search-wrapper {
  margin: 10px auto 0 170px;
  width: calc(100% -450px);
  max-width: 650px;
  height: 46px;
  position: fixed;
}

.search-wrapper i {
  color: #000000;
  position: absolute;
  font-size: 30px;
  top: 5px;
  left: 20px;
  line-height: 36px !important;
}

input[type=search]:not(.browser-default) {
  display: block;
  padding: 10px 50px;
  
  width: 100%;
  background: #dcdcdc;
  height: 24px;
  border: none;
  font-size: 16px;
  outline: none;
  border-radius: 50px;
  color: #000000;
}

input[type=search]:focus {
  border-bottom:  none !important;
  box-shadow: none !important;
}

input[type="search"]::placeholder {
  color: #000000;
  font-size: 20px;
}

/*sidenav*/
.side-nav.floating {
  width: 250px;
  padding: 85px 8px 0 !important;
  height: calc(100% -130px);
  left: initial;
  right: initial;
  top: 125px;
  transform: initial;
  z-index: auto;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background: transparent;
  box-shadow: none;
}

.side-nav .active {
  background-color: rgba(7, 160, 255, 0.177);
  border-radius: 50px;
}

.side-nav .active a {
  color: #000000;
  font-weight: 500;
}

.side-nav .subheader {
  line-height: 24px;
  height: 32px;
  margin: 0;
  padding: 4px 16px;
  color: #616161;
  font-size: 13px;
  font-weight: normal;
}

.size-nav li a,
.side-nav li a i.material-icons {
  height: 40px;
  line-height: 40px;
}

.side-nav li a i.material-icons {
  margin-right: 24px;
}

.side-nav li a {
  padding: 0 16px;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}

side-nav li a:hover {
  border-radius: 10px;
}

/*folders*/
.folder {
  width: 185px;
  display: inline-block;
  margin: 15px 20px 0;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
  box-shadow: #000000;
  text-shadow: #000000;
}

.folder i {
  color: rgba(0, 0, 0, 0, 54);
  margin-top: -3px;
}
