*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img{
    width: 25%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}

.nav-list{
width: 70%;
display: flex;
align-items: center;

}

.nav-list li{
list-style: none;
padding: 26px 30px;
}

.nav-list li a{
text-decoration: none;
color: white;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list li a:hover{
    text-decoration: none;
    color: gray;
    }

.rightnav{
    width: 30%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0,0,0,0.5) url("./images/bg3.jpg");
    background-size: cover;
    background-blend-mode: darken;
}


.firstsection{

    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;


}
.firstHalf{
width:80 ;
display: flex;
flex-direction: column;
justify-content: center;
}
.secondHalf{
width: 30%;

}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
font-size: 41px;
}

.text-small{
font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;

}

.btn-dark{
    color:black;
    border:2px solid grey;

}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;

}

.section.left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.sectionTag{
    padding: 16px 0;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}

.contact{
    background-color: rgb(172, 147, 115);
    height: 833vh;
}

.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;

}

.form{
    max-width: 62%;
    margin: 25px auto;
}

.form-input{
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid gray;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer{
    text-align: center;
    padding-top: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: white;

}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: opx ;
    }
}




