html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* navbar start */
.topnav {
  display: flex;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 70px;
  align-items: center;
}

.topnav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  flex-direction: column;
}
/* .topnav {
  background-color: black;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
} */

.topnav a:hover {
  color: cyan;
}

.topnav a.active {
  color: cyan;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 380px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
.active {
  color: cyan;
}
@media screen and (max-width: 380px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    padding: 10 10px;
    text-align: center;
  }
}

/* navbar end */

.center {
  text-align: center;
}
#head {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  color: rgb(58, 5, 5);
}

/*leader start*/
.leader {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.lead {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lead-img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1000px) {
  .leader {
    flex-direction: column;
  }
}
/*leader end*/

/*gallery start*/
.gallery-image {
  width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  padding: 12px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
}

/*gallery end*/
