html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* navbar start */
.topnav {
  display: flex;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 70px;
  align-items: center;
}

.topnav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  flex-direction: column;
}
.topnav a:hover {
  color: cyan;
}

.topnav a.active {
  color: cyan;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 380px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
.active {
  color: cyan;
}
@media screen and (max-width: 380px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    padding: 10 10px;
    text-align: center;
  }
}


/* navbar end */

.flex-item {
  width: 475px;
  height: 400px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: lighter;
  flex-wrap: wrap;
}
.image {
  width: 400px;
  height: 300px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.center {
  text-align: center;
}
#head {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
}

.category a {
  text-decoration: none;
}
body {
  background-size: cover;
  background-attachment: fixed;
}
