body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;

}

.btn{
    background-color: pink;
    padding: 25px 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;
}

.btn:hover::before{
    width: 300px;
    height: 300px;

}