:root {
  /* -------------------VARIABLES WHICH DECIDES SIZE OF CURSOR AND Background and we can use them by variable name in future / */
  --cursor-size: 30px;
  --bg: #FAF7EE;
}

.page-wrap {
  background: var(--bg);
  min-height: 100vh;
}

#cursor {
  position: fixed;
  /* ---------------DECIDES POSITION FO CURSOR------------LIKE FROM TOP ADN LEFT IT WILL BE 0.5 IN DISTANCE */
  top: calc(var(--cursor-size) * -0.5);
  left: calc(var(--cursor-size) * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;
  /* filter: url(#goo); */
}

.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: var(--cursor-size);
  background: var(--bg);
  /* transform-origin: right left; */
}

body {
  overflow-x: hidden;
    /* cursor: none; */
}

h1 {
  margin: 0;
  font-size: 148px;
  line-height: 1;
  font-family: sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.goo {
  display: none;
}