/* File added for responsiveness */
html{
    font-size: 6px;
}

#matrix{
    display: grid;
    grid-template-rows:repeat(3,10rem);
    grid-template-columns: repeat(3,10rem);
}

.box{
    border: 2px solid white;
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#information{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6rem;
    color: white;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}
