*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(./images/image2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    width: 770px;
    padding: 35px;
    margin-left: 100px;
    background: #fff;
    border-radius: 10px;
}

.wrapper .input-field{
    z-index: -999;
    opacity: 0;
    position: absolute;
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.content-box .typing-text{
max-height: 255px;
overflow-y: auto;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}
.typing-text p{
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

.typing-text p span{
    position: relative;
}

.typing-text p span.correct{
    color: #56964f;
}

.typing-text p span.incorrect{
    color: #cb3439;
    background: #ffc0cb;
    outline: 1px solid #fff;
    border-radius: 4px;
}

.typing-text p span.active{
    color: #17a2b8;
}

.typing-text p span.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: #17a2b8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
    
}

.content-box .content{
    display: flex;
    margin-top: 17px;
    padding: 12px 0;
    align-items: center;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

.content button{
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: rgb(10, 9, 9);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: rgb(237, 204, 17);
    transition: transform 0.3s ease;
}

.content button:active{
    transform: scale(0.97);
}

.content .result{
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}

.result li{
    height: 22px;
display: flex;
list-style: none;
align-items: center;
}

.result li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
}

.result li p{
font-size: 19px;
}
.result li span{
display: block;
font-size: 20px;
margin-left: 10px;
}

.result li:not(:first-child) span{
    font-weight: 500;
}

.result li b{
    font-weight: 500;
}