@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Mukta:wght@300&display=swap');
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  background-image: url("bg.png");
  color: rgb(212 212 212);
}
h2{
  font-family: 'Kalam', cursive;
}
@media (min-width: 470px) {
  #search-btn {
     width:50px;
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 5%;
  width: 32%;
  height: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(21, 15, 15, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-container {
    margin-top: 5%;
    margin-bottom: 5%;
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
 
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.search-container:hover > #search-input {
  width: 300px;
}

.search-container #search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.search-container .search-btn .fas {
  color: #000000;
}

#search-btn {
    font-size: 15px;
    font-family: 'Kalam', cursive;
    letter-spacing: 1px;
  width: 140px;
  height: 40px;
  border-width: 1px;
  color: #fff;
  border-color: rgba(29, 30, 29, 1);
  font-weight: bold;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  box-shadow: 1px 1px 0px 1px rgba(20, 19, 19, 1);
  text-shadow: 1px 1px 0px rgba(15, 15, 15, 1);
  background-color: transparent;
}
#search-btn:hover{
  background-color: bisque;
  color: #000000;
  box-shadow: 2px 3px grey;
}
@media (max-width: 470px) {
  #search-btn {
     width:70px;
     height:25px;
     font-size: small;
  }
}
@media (max-width: 299px) {
  h2{
    font-size:small ;
  }
  #search-btn {
    width:50px;
    height:25px;
    font-size: small;
 }
}
 @media (max-width: 182px) {
  h2{
    font-size:x-small ;
  }
  #search-btn {
    width:25px;
    height:20px;
    font-size:x-small;
    letter-spacing: 0;
 }

}
.card{
  
  
  padding: 10%;
  padding-top: 3%;
}
#profileInfo{
  visibility: hidden;
  display: flex;
  flex-direction: row;
}
.cardBody{
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(21, 15, 15, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#cardImage
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.round{
  height:88%;
  width: 88%;
  align-items: center;
  border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}
#cardDetail{
  align-items: center;
  margin: 3%;
}
.name{
  margin: 5%;
  margin-bottom: 10%;
}
.bio{
  margin: 5%;
}
.btn{
  margin: 5%;
  background-color: transparent;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
  
}
.link{
  color: aliceblue;
  text-decoration: none;
  font-size: large;
}