@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&family=Signika&display=swap');
:root {

    --color-primary : #2b91d1 ;
    --color-danger : #f94949 ;
    --color-success : #52d755;
    --color-warning : #ffd52c ;
    --color-white : #ffffff ;
    --color-info-dark : #524f4f ;
    --color-info-light : #cecccc ;
    --color-dark : #343333 ;
    --color-light : #3d3b3b73 ;
    --color-primary-variant : #3831be ;
    --color-dark-variant : #9d7d7d ;
    --color-background : #eeeeee ;

    --card-border-radius : 2rem ;
    --border-radius-1 : 00.4rem ;
    --border-radius-2 : 0.8rem ;
    --border-radius-3 : 1.2rem ;

    --card-padding : 1.8rem ;
    --padding-1 : 1.2rem ;

    --box-shadow :0 2rem 3rem var(--color-info-light) ;


}
/*     DARK THEME VARIABLES    */
.dark-theme-variales{
    --color-white : #000000 ;
    --color-dark : #ffffff ;
    --color-light : rgb(56, 52, 52) ;
    --color-background : #181a1e ;
    --color-dark-variant : #a3bdcc ;
    --color-info-light : rgb(26, 23, 23);

}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.Search-Wrapper {
    Border-Radius: 20px;
    Background-Color: Var(--Search-Area-Bg);
    Padding-Right: 12px;
    Height: 40px;
    Display: Flex;
    Justify-Content: Space-Between;
    Align-Items: Center;
    Width: 100%;
    Max-Width: 480px;
    Color: Var(--Light-Font);
    Box-Shadow: 0 2px 6px 0 Rgba(136, 148, 171, .2), 0 24px 20px -24px Rgba(71, 82, 107, .1);
    Overflow: Hidden;
    }

html {
    font-size: 14px;
}

body {
    width: 100vw;
    font-size: 0.88rem;
    background: var(--color-background);
    color: var(--color-dark);
    font-family: 'secular one', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: var(--white);
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-light);
}
.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 2.8rem;
}

h2 {
    font-size: 1.4rem;
    font-family: 'Sinika', sans-serif;
}

h3 {
    font-size: 0.87rem;
    font-family: 'Roboto', sans-serif;
}
h5 {
    font-size: 0.55rem;
    font-family: 'Roboto', sans-serif;
}
small {
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-light);
    font-family: 'Roboto', sans-serif;
}

p {
    color: var(--color-dark-variant);
    font-family: 'Roboto', sans-serif;
}

b {
    color: var(--color-dark);
    font-family: 'Roboto', sans-serif;
}

.primary {
    color: var(--color-primary);
}
.danger {
    color: var(--color-danger);
}
.success {
    color: var(--color-success);
}
.warning {
    color: var(--color-warning);
}

/*     //////////     ASIDE       ////////   SIDEBAR     */

aside {
    height: 100vh;
    background: var(--color-info-light);
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.4rem;   
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 3rem;
    height: 2rem;
}

aside .close {
    display: none;
}


aside .sidebar {
    display: flex;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}



aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content:'';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem ;
}

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/*   ===============  MAIN  ===============   */
main {
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background-color: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type='date'] {
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    transition: all 300ms ease;
}


main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expenses span {
    background: var(--color-success);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}
main .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}
main .insights .progress .number {
    position: relative;
    top: -65px;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .insights small {
    margin-top: 1.6rem;
    display: block;
}

/*     //////////Recent Orders     */
main .recent-orders {
    margin-top: 2rem;
}
main .recent-orders h2 {
    margin-bottom: 0.8rem;
}
main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
}

main table tbody td {
    height: 2.8rem;
    border-radius: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td {
    border: none;
}
main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/*     ////////// RIGHT ///////////     */
.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top button {
    display: none;
}
.right .theme-toggler {
    background: var(--color-info-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .theme-toggler span.active {
    background: var(--color-primary);
    color: #ffffff;
    border-radius: var(--border-radius-1);
}
.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}
/*     ////////// RECENT UPDATES ///////////     */
.right .recent-updates {
    margin-top: 1rem;
}
.right .recent-updates h2{
    margin-bottom: 0.8rem;
}
.right .recent-updates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius:var(--card-border-radius) ;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin: 1rem;
}
/*     ////////// SALES ANALYTICS ///////////     */
.right .sales-analytics {
    margin-top: 2rem;
}
.right .sales-analytics h2 {
    margin-top: 0.8rem;
}
.right .sales-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}
.right .sales-analytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}
.right .sales-analytics .item.offline .icon {
    background: var(--color-danger);
}
.right .sales-analytics .item.customers .icon {
    background: var(--color-success);
}
.right .sales-analytics .add-product {
    background: transparent;
    border:2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .sales-analytics .add-product div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.right .sales-analytics .add-product div h3 {
    font-weight: 600;
}