body {
    /* text-align: center; */
    margin: 0rem;
    /* overflow-y: hidden; */
    /* background-color: rgba(0, 128, 0, 0.763);
    background-image: linear-gradient(70deg, #3a3d40 0%, rgb(130, 241, 130) 100%);
    max-height: 100%; */
}

html {
    font-size: 100%;
}

h1 {
    font-size: 5rem;
    padding: 0rem;
    margin: 0rem;
    text-align: center;
}

#site {
    display: flex;
    flex-direction: row;
    justify-items: center;
    /* height: 100rem; */
}

#info {
    /* text-align: center; */
    /* margin-left: 1rem; */
    width: 25rem;
    /* height: 100%; */
    font-size: 1.5rem;
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    height: 45rem;
}

#board{
    height: 45rem;
}
#player {
    margin-top: 0rem;
    text-align: center;
    font-weight: bolder;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
#player p{
    margin-bottom: 0rem;
}
#player select {
    margin-bottom: 2rem;
    width: 8rem;
    height: 2rem;
}
#choose-player {
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

#color-choose {
    width: 30rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    /* background-color: red; */
}

#player2, #player3, #player4
{
    visibility: hidden;

}
#color-choose select {
    font-weight: bold;
    cursor: pointer;
    color: hsl(0, 100%, 2%);
    background-color: rgb(207, 255, 248);
    margin: 0.4rem 0rem;
    width: 6rem;
    border: 1px solid;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: rgba(0, 0, 255, 0.792);
}

#play {
    position: absolute;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5rem;
    width: 7rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    margin: 2rem;
    /* margin-left: 12rem; */
}

#dice{
    margin-top: 3rem;
    text-align: center;
    align-items: center;
    background-color: red;
}
#sixdice{
    /* position: relative; */
    /* margin: 8rem; */
    width: 5rem;
    height: 5rem;
}

table {
    width: 40rem;
    height: 40rem;
    border: 0.01rem solid black;
    border-spacing: 0rem;
    text-align: center;
    float: right;
    margin-top: 0rem;
    /* background-color: rgba(0, 128, 0, 0.821); */
}

tr {
    margin: 0;
}

td {
    width: 4rem;
    height: 4rem;
    border: 0.01rem solid black;
    font-weight: bolder;
    font-size: 1.2rem;
}

.blueb {
    background-color: rgba(0, 0, 255, 0.416);
}

.redb {
    background-color: rgba(255, 0, 0, 0.748);
}

.greenb {
    background-color: rgba(106, 255, 106, 0.6);
}

.yellowb {
    background-color: rgba(255, 255, 0, 0.86);
}

.whiteb {
    background-color: rgba(245, 245, 245, 0.849);
}

.ladders {
    width: 6rem;
    height: 15rem;
}

#l1 {
    width: 5rem;
    position: relative;
    margin: 1.3rem -6.5rem;
    transform: rotate(28deg);
    height: 10rem;
}

#l2 {
    width: 7rem;
    height: 30rem;
    position: relative;
    margin: 3.8rem -13rem;
    transform: rotate(-33deg);
}

#l3 {
    height: 10rem;
    position: relative;
    margin: 2rem -12rem;
    transform: rotate(20deg);
}

#l4 {
    width: 5rem;
    height: 9rem;
    position: relative;
    margin: 23rem 6.5rem;
    transform: rotate(25deg);
}

#l5 {
    /* width: 6rem; */
    height: 16rem;
    position: relative;
    margin: 26rem -6rem;
    transform: rotate(30deg);
}

#l6 {
    width: 4rem;
    height: 12rem;
    position: relative;
    margin: 11.5rem 20rem;
    transform: rotate(-70deg);

}
#l7 {
    width: 7rem;
    height: 18rem;
    position: relative;
    margin: 24.8rem -23rem;
    transform: rotate(42deg);

}

.snakes{
    width: 8rem;
    height: 15rem;
}
#s1{
    width: 9rem;
    height: 9rem;
    margin: 1.5rem;
    margin-left: 3.5rem;
    /* transform: rotate(100deg); */
}
#s2{
    /* width: rem; */
    height: 10rem;
    position: relative;
    margin: 1.2rem -22rem;
    transform: rotate(-10deg);
}
#s3{
    position: relative;
    width: 15rem;
    height: 13.5rem;
    margin: 9.5rem 11rem;
    transform: rotate(40deg);
}
#s4{
    position: relative;
    width: 27rem;
    height: 5rem;
    margin: 23rem -33rem;
    transform: rotate(60deg);
}
#s5{
    position: relative;
    width: 20rem;
    height: 10rem;
    margin: 32.7rem 22rem;
    transform: rotate(-15deg);
}
#s6{
    position: relative;
    width: 18rem;
    height: 18rem;
    margin: 10.2rem -39rem;
    /* margin: 10.2rem -25rem; */
    transform: rotate(-5deg);
}
#s7{
    /* position: relative;
    width: 12rem;
    height: 12rem;
    margin: 0.2rem 50rem;
    transform: rotate(30deg); */
    position: absolute;
    width: 12rem;
    height: 12rem;
    margin: 0.2rem 59.5rem;
    transform: rotate(30deg);
}

@media (max-width: 500px) {
    html{
        font-size: 30%;
    }
    #site {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0rem;
    }
}