*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #9F173C;
}
.wrapper{
    height: 90vh;
}
nav{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    background-color: #9F173C;
    width: 100%;
}
.logo {
    height: 70px;
    width: 320px;
}
ul{
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    transition: 0.3s ease;
    display: inline-block;
    border-radius: 40px;
    font-weight: bold;
}
a.active{
    border: 2px solid white;
    transform: scale(1.3);
    color: yellow;
}
nav a:hover{
    color: yellow;
    transform: scale(1.3);
}
.cake{
    height: 160px;
    width: 160px;
}
.hero{
    text-align: center;
    font-size: 3.8rem;
    color: white;
    margin-bottom: 30px;
}
main{
    display: flex;
    background-color: #9F173C;
    background-color: #9F173C;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.content{
    background-color: #9F173C;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    box-sizing: content-box;
}
main p{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 40px;
}
.buttons{
    text-align: center;
    height: auto;
}
.buttons a{
    padding: 15px 0px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 4px 4px 18px black;
    display: inline-block;
    transition: 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    width: 300px;
}

#first {
    margin-right: 30px;
    /* background-image: linear-gradient(30deg, #005794, #0164d6); */
    background-color: #005794;
}
#second {
    /* background-image: linear-gradient(30deg, #0f7542, #028945); */
    background-color: #0f7542;
}

#first:hover, #second:hover{
    box-shadow: 4px 4px 8px black;
    background-color: white;
    color: black;
}
a[href="index.html"]:hover {
    transform: scale(1);
}
.assistant{
    background-color: bisque;
}

#aboutUs {
    padding:80px;
    height: 900px;
    display: flex;
    align-items: center;
    margin-top: 110px;
    color: white;
    /* background-color: #007d2e; */
}
.about img{
    height: 500px;
    width: 500px;
}
.about p{
    display: flex;
    align-items: center;
    padding: 70px 70px 0px 70px;
    font-size: 1.2rem;
    line-height: 2rem;
    word-spacing: 10px;
    letter-spacing: 2px;
    /* background-color: grey; */
}
.about h2{
    padding: 0px 0px 0px 70px;
    font-size: 3rem;
    /* background-color: yellow; */
    color: rgb(170, 231, 243);
}

.featured-heading{
    text-align: center;
    position: relative;
    font-size: 3rem;
    color: white;
    padding-top: 50px;

}
.featured{
    padding: 80px;
    background-color: #9F173C;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.food{
    background-color: #f5265d;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 0px black;
    border-radius: 20px;
    border: 2px solid black;
}
.food img{
    height: 250px;
    width: 300px;
}
.food h3{
    background-color: rgb(255, 171, 4);
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    color: black;
    font-size: 2rem;
}
.food {
    color: white;
}
.food p{
    padding: 15px 0px;
    font-size: 2rem;
    font-weight: bold;
}
.address{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
    height: 800px;
}
.address .featured-heading{
    padding-top: 0px;
    position: relative;
    bottom: 50px;
}
.address .iframecontainer{
    height: 60%;
    width: 60%;
    border: 7px solid black;
    box-shadow: 25px 25px 0px black;
}
.address iframe{
    height: 100%;
    width: 100%;
}

footer{
    display: flex;
    background-color: #f5265d;
    width: 100%;
    color: white;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

footer p{
    line-height: 1.6rem;
    font-size: 1.2rem;
}

footer div{
    height: 70%;
    display: flex;
    flex-direction:  column;
    justify-content: space-evenly;
    padding: 0px 60px;
}
footer div img{
    height: 40px;
    width: 40px;
    display: inline;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
}
footer a{
    font-size: 2rem;
    color: white;
    transition: 0.3s ease;
}
footer a:hover{
    color: black;
}
#mobileNav{
    display: none;
}

/* @media only screen and (max-width: 1200px) {
    nav {
        display: none;
    }
    #mobileNav {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
        height: 400px;
    }
    ul{
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        margin-top: -100px;
        /* margin-top: 50px; */
        justify-content: space-evenly;
        background-color: #f5265d;
    }
    .hero{
        font-size: 3rem;
    }
} */
