html{
  scroll-snap-type: y mandatory;
}

.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  background-image: url(https://thumbs.gfycat.com/ZanyGrimGodwit-max-1mb.gif);
}

.app__top > h1 {
  text-align: center;
  color: white;
}
.app__logo{
  height: 12vh;
}
 
.app__videos{
  position: relative;
  height: 65vh;
  background-color: white;
  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow:scroll;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar{
  display: none;
}

.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}