@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  justify-content: justify;
  align-items: center;
  background: #f2f2f2;
  overflow-x: hidden;
  height:100vh;
}
.box-main{
    height:70vh;
    display: flex;
    margin-left: 50px;
  }
  .box {
    transition: box-shadow .3s;
    width: 300px;
    height: 200px;
    margin: 30px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #D9D9D9;
    float: left;
    
  }
  .box:hover {
    box-shadow: 0 0 12px rgba(33,33,33,.2); 
  }
  .text-small{
   text-align: right;
   margin-top: 30px;
   margin-right: 10px;
   font-size: 20px;
  }
  .text-big{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
  }
  .btn{
    padding: 8px 60px;
    margin: 30px 60px;
    background-color:#82AAE3;
    cursor: pointer;
    border-color: #82AAE3;
    align-content: center;
  }
  .btn:hover { 
    background: rgb(215, 232, 239);
    box-shadow: 0px 2px 20px 10px #97B1BF;
    color: #000; 
  }