 
html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
background-color:aliceblue;
font-family:'Nunito',sans-serif;
}
 
.login_signup{
    font-weight: 500;
    width: 150px;
    height: 37px;
    border-radius: 20px;
    border: 2px solid grey;
}
.p-3{
   
    background-color:blanchedalmond ;
}
.nav col-12 col-lg-auto me-lg-auto ms-a li a:hover,.nav col-12 col-lg-auto me-lg-auto ms-a li a:active
{
  color: red;
}
.nav col-12 col-lg-auto me-lg-auto ms-a li a
{
  display: block;
  padding: 8px;
}
 li a
{
  margin-right: 25px; margin-left: 25px; 
}
}