    * {
        box-sizing: border-box;
    }
    body {
        margin: 0px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #1c1c1c;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .pomodoro-container {
        display: flex;
        flex-flow: row wrap;
        
    
        padding: 20px;
        width: 225px;
    }
    .pomodoro-item {
        width: 100%;
    }
    .label {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #bb437e;
    }
    .row-pomodoro {
        margin: 8px 0 16px 0;
        text-align: center;
    }
    .playerButton {
        border-top: solid 3px #bb437e;
        padding-top: 12px;
    }
    .buttonRow {
        display: flex;
        justify-content: space-around;
    }
    .lengthTime {
        display: inline-block;
        padding: 0 20px 0 20px;
        font-size: 35px;
    }
    .btn-updown {
        font-size: 1.5rem;
        width: 30px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        color: #fff;
        background: transparent;
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
    }
    .btn-controller {
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
    }

    #timeLeft {
        font-size: 3rem;
        font-weight: 700;
    }