*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  /*body*/
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(235, 199, 132);
  }
  .container{
    width: 605px;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  }
  header, .content :where(i, p, span){
    color: #202842;
  }
  .container header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .container .content{
    margin: 35px 0;
  }
  .content .quote-area{
    display: flex;
    justify-content: center;
  }
  .quote-area i{
    font-size: 15px;
  }
  .quote-area i:first-child{
    margin: 3px 10px 0 0;
  }
  .quote-area i:last-child{
    display: flex;
    margin: 0 0 3px 10px;
    align-items: flex-end;
  }
  .quote-area .quotes{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
  }
  .content .author{
    display: flex;
    font-size: 18px;
    margin-top: 20px;
    font-style: italic;
    justify-content: flex-end;
  }
  .author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
  }
  .container .buttons{
    border-top: 1px solid #ccc;
  }
  /* button design*/
  .buttons .features{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .features ul{
    display: flex;
  }
  .features ul li{
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: purple;
    list-style: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
    transition: all 0.3s ease;
  }
  .features ul li:first-child{
    margin-left: 0;
  }
  ul li:is(:hover, .active){
    color: #fff;
    background: purple;
  }
  ul .speech.active{
    pointer-events: none;
  }
  .buttons button{
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background: purple;
  }
  .buttons button.loading{
    opacity: 0.7;
    pointer-events: none;
  }