@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2eadf;
}

.container {
    position: relative;
    width: 340px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

header {
    position: relative;
    background: #008069;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
}

header .action {
    position: relative;
    display: flex;
    gap: 15px;
}

header .action a {
    color: #fff;
    display: flex;
    font-size: 1.5em;
    text-decoration: none;
}

.tabs input {
    visibility: hidden;
    display: none;
}

.buttons {
    position: relative;
    display: flex;
    background: #008069;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.buttons label {
    width: 33.33%;
    color: #fff;
    opacity: 0.75;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
}

.tabs input:nth-child(1):checked~.buttons label:nth-child(1),
.tabs input:nth-child(2):checked~.buttons label:nth-child(2),
.tabs input:nth-child(3):checked~.buttons label:nth-child(3) {
    opacity: 1;
}

.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 33.333%;
    height: 3px;
    background: #fff;
    transform: 0.5s;
}

.tabs input:nth-child(1):checked~.buttons .underline {
    left: 0;
}

.tabs input:nth-child(2):checked~.buttons .underline {
    left: 33.333%;
}

.tabs input:nth-child(3):checked~.buttons .underline {
    left: 66.666%;
}

.content {
    position: relative;
    width: calc(340px * 3);
    display: flex;
    transition: 0.5s;
    overflow: hidden;
}

.content .box {
    position: relative;
    width: 340px;
}

.tabs input:nth-child(1):checked~.content {
    left: calc(340px * 0);
}

.tabs input:nth-child(2):checked~.content {
    left: calc(340px * -1);
}

.tabs input:nth-child(3):checked~.content {
    left: calc(340px * -2);
}

.content .data {
    position: relative;
    width: 100%;
    height: 510px;
}

.chatlist {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.chatlist .block {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 15px 10px;
    display: flex;
    cursor: pointer;
}

.chatlist .block:hover {
    background: #f5f5f5;
}

.chatlist .block .imgbx {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.chatlist .block .imgbx img {
    position: relative;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.chatlist .block .details {
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
}

.chatlist .block .details .listHead h4 {
    font-size: 1em;
    font-weight: 600;
    color: #111;
    width: 100%;
}

.chatlist .block .details .listHead .time {
    font-size: 0.75em;
    color: #555;
}

.message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatlist .block .details p {
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.chatlist .block.unread .details .listHead .time {
    color: #06d755;
}

.chatlist .block.unread .details p {
    color: #111;
    font-weight: 600;
}

.message_p b {
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

.status .plus {
    position: absolute;
    top: 38px;
    left: 40px;
    width: 25px;
    height: 25px;
    background: #008069;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}

.box label {
    padding: 0 15px;
    font-weight: 600;
    color: #555;
    font-size: 0.85em;
}

.unseen .imgbx {
    box-shadow: 0 0 0 2px #fff,
        0 0 0 4px #008069;
}

.seen .imgbx {
    box-shadow: 0 0 0 2px #fff,
        0 0 0 4px #bbb;
}

.green {
    background: #008069;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    rotate: -45deg;
}

.incoming ion-icon {
    color: #0f0;
    rotate: 45deg;
}

.outgoing ion-icon {
    color: #f00;
    rotate: 45deg;
}

.call {
    font-size: 1.5em;
    color: #008069;
}

.quickBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10000;
}

.quickBtn .btn {
    background: #008069;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.35em;
    cursor: pointer;
    display: none;
}

.tabs input:nth-child(1):checked~.quickBtn .btn:nth-child(1) {
    display: flex;
}

.tabs input:nth-child(2):checked~.quickBtn .btn:nth-child(2) {
    display: flex;
}

.tabs input:nth-child(3):checked~.quickBtn .btn:nth-child(3) {
    display: flex;
}

.quickBtn .btn .pencil {
    position: absolute;
    top: -50px;
    width: 40px;
    height: 40px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 50%;
    font-size: 0.75em;
}

.chatBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efe6dd;
    z-index: 10000;
    /* display: none; */
}

.chatBox.hide {
    display: none;
}

.chatBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: url('pattern.png'); */
    opacity: 0.05;
}

.chat_header {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #008069;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_header .imgcontent {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat_header .imgcontent ion-icon {
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
}

ion-icon {
    cursor: pointer;
}

.chat_header .imgcontent .imgBx {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.chat_header .imgcontent .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat_header .imgcontent h3 {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.1em;
}

.chat_header .imgcontent h3 span {
    font-size: 0.7em;
    font-weight: 400;
}

.actionBtns {
    position: relative;
    display: flex;
    color: #fff;
    gap: 15px;
}

.messageBox {
    position: relative;
    padding: 20px;
    height: 530px;
}

.messageBox .message {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
}

.messageBox .message::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    left: 0;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
}

.time {
    position: relative;
    display: block;
    font-size: 0.7em;
    width: 100%;
    text-align: end;
    color: #777;
}

.messageInput {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageInput .input {
    position: relative;
    background: #fff;
    padding: 5px 10px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}

.messageBox .input ion-icon {
    color: #777;
    cursor: pointer;
    font-size: 1.4em;
}

.messageInput .input input {
    border: none;
    outline: none;
    padding: 5px;
}

.mic {
    position: relative;
    width: 40px;
    height: 40px;
    background: #008069;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    border-radius: 50%;
    cursor: pointer;
}

.deg45 {
    rotate: 45deg;
}