@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto','sans-serif';
}

/* heading*/

.material-icons{
    color: rgb(96, 95, 95);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:15px;
}

.header_left img{
    max-width: 100px;
    max-height:60px;
    margin-left: 15px;

}

.header_left{
    display: flex;
    align-items: center;
}

.header{
    padding: 0px 7px;
    cursor: pointer;
}

.header_search form{
    border: 1px solid rgb(193, 190, 190);
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.header_search input{
    padding: 10px;
    width: 500px;
    margin: 0;
    border-radius: 0;
    border: none;

}

.header_search button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}

.header-right .material-icons{
    margin: 10px;
}

/* main body */
.mainbody{
    display: flex;
    height: calc(100vh- 70px);
    overflow: hidden;
}

/* sidebar */
.sidebar{
    height: 100%;
    width: 250px;
    display: flex;
    top: 0; /* this is required for "sticky" to work */
    position: sticky;
    background-color: white;
    overflow-y: scroll;
}

.sidebar_categories{
    width: 100%;
    display:flex ;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar_category{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.sidebar_category span{
    margin: 15px;
}

.sidebar_category:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

hr{
    height: 1px;
    background-color: #d6d2d2;
    border: none;
}

/* videos */

.videos{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.video_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video{
    width: 310px;
    margin-bottom: 30px;
}

.video_thumbnail{
    width: 100%;
    height: 170px;
}

.video_thumbnail img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.video_details{
    display: flex;
    margin-top: 10px;
}

.author img{
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.title{
    display: flex;
    flex-direction: column;
}

.title h3{
    color: rgb(3,3,3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a, span{
    text-decoration: none;
    color: rgb(96,96,96);
    font-size: 14px;
}

h1{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3,3,3);
}

@media(max-width: 425px) {
    .header_search{
        display: none;
    }

    .header-right .material-icons{
        display: none;
    }

    .header-right .display_this{
        display: inline;
    }

    .header_search> button{
        display: inline;
    }

    .sidebar{
        display: none;
    }

    .video{
        width: 100%;
    }
    
}

@media (max-width: 768px){
    .header_search{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .show-sidebar{
        display: inline;
        position: fixed;
        top: 4.4rem;
        height: auto;
    }

}





