* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
}

#input-field {
    color: #432000;
    background-color: rgb(249, 241, 241);
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    font-size: 1.2rem;
    border-radius: 0.5rem;

}

#btn {
    color: #fdfdfd;
    background-color: red;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 0.5rem;
    font-weight: bolder;
}

#btn:hover {
    background-color: #443a31;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border: 2px solid black;
    border-radius: 1%;
    padding: 40px;
    margin: auto;
    user-select: none;
}

.container img {
    width: 100%;
}

.head {
    text-align: center;
    margin: 1rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
    text-align: center;
}

ul li {
    background-color: #fffdf8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 1rem;
    font-size: 1.2rem;
    flex-grow: 1;
    text-align: center;
    border-radius: 1.2rem;
}

ul li:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
    font-weight: bolder;
}