@import url('http://fonts.gstatic.com/css?family=Poppins:200,300,400,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #010101;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 100;
}

header .logo img {
    max-width: 150px;
    height: 45px;
}

header .logo:hover img {
    transform: rotate3d(360);
    transition: 5s;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 0 10px;
}

.navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
}

.navigation li:hover a {
    color: #de0611;
    padding: 10px;
}

.search {
    position: relative;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 2px solid rgb(255, 51, 51);
    outline: none;
    border-radius: 14px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #FFF;
    border-right: 1px solid #fff;
}

.search input::placeholder {
    color: #fff;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    max-width: 550px;
}

.content h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 15px;
}

.content .content h4 {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    padding-right: none;
}

.banner .content h4 span i {
    background: #de0611;
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    font-size: normal;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    margin: 5px 0 20px;
    font-weight: bolder;
}

.banner .content .buttons {
    position: relative;
}

.banner .content .buttons a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #de0611;
    color: #fff;
    padding: 9px 10px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.7);
    border: 0.1rem solid rgba(0, 0, 0, 0.7);
}

.banner .content .buttons a:nth-child(2) {
    background: #000;
}

.banner .content .buttons a:hover:nth-child(2) {
    background: #de0611;
}

.play {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
}

.play img {
    margin-right: 10px;
    max-width: 70px;
    max-height: 70px;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    max-width: 900px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border: 0.1rem solid rgb(255, 255, 255);
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

.footer {
    background: blur;
    padding: 70px 0;
    line-height: 1.5;
    height: 320px;
    margin-top: -30px;
}

.footer .container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.foot {
    list-style: none;
    margin-top: 20px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 10px;
    margin: bottom 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col .foot li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col .foot li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s eaes;
}

.footer-col .foot li a:hover {
    color: #ffffff;
    padding: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    margin: 0 10px 10px 0;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 40%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


@media (max-width:991px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .content h2 {
        margin-top: 55px;
    }

    .banner {
        padding: 100px 50px;
    }

    .banner .play {
        left: 50px;
        font-size: 1em;
    }

    .play img {
        margin-right: 10px;
        max-width: 40px;
    }

    .trialer video {
        max-width: 90%;
    }
}

@media (max-width: 767px) {
    header {
        padding: 20px;
    }

    .search {
        position: relative;
        width: calc(100% - 20px);
        height: 40px;
    }

    .banner .play {
        bottom: 30px;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}