@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    
    font-family: 'Varela Round', sans-serif;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
    margin: 0;
    padding: 0;
}
h1{
    color: #fff;
    text-align: center;
}
.container{
    margin-bottom: 3.5rem;
}
#converter{

    background-color: #ffff;
    padding: 40px;
    width: 500px;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.bo{
    margin: 0.5rem 0.3rem;
}

.input{
    width: 13rem;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    background-color: #d3d3d3;
    border-radius: 1rem;
    margin: 0.5rem 0;
    transition: 0.3s;
}
#value{
    padding:2%;
    margin-left: 50%;
    text-align: center;
    font-weight: bolder;
    width: 120%;
    
    

}
#yes{
    font-size: 1.5rem;
    text-align: center;
    margin-left: 20%;



}
#no{
    font-size: 1.5rem;
    text-align: center;
    margin-left: 70%;



}

