@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
}

.container {
    box-shadow: 0 8px 32px 0 rgba(208, 208, 208, 0.259);
    border: 1px solid rgba(17, 198, 195, 0.3);

    background-color: #dcc6ff;
    backdrop-filter: blur(10px);

    border-radius: 10%;
    margin: auto;
    margin-top: 50px;
    height: 650px;
    width: 600px;
}

.heading {
    text-align: center;
}

.heading2 {
    margin: 15px 0px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
}

.task-title {
    margin:15px 0px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.input {
 
    padding: 5px;
    background-color: transparent;
    color: black(255, 255, 255);
    text-overflow: ellipsis;
    margin-top: 30px;
    margin-left: 30px;
    margin-right:20px;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
    color: black;
    font-size: 15px;
    font-weight: 500;
    height: 25px;
}


.alltasks {
    margin-top: 10px;
    position: relative;
    margin-left: 30px;
    width: 500px;
    overflow-y: scroll;
    height: 350px;
    /* border: 1px solid rgb(2, 2, 2); */
}

.divl {
    background-color: white;
    color: #472183;
    border-radius: 9990px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.add {
    border: 1px solid black;
    background-color: transparent;
    padding: 5px;
    width: 100px;
    height: 32px;
    transition: all 0.5s;
    color: black;
    border-radius: 40px;
    cursor: pointer;
}

.add:hover {
    color: white;
    background-color: #472183;
    border: none;
}

.addv {
    border: 1px solid white;
    background-color: transparent;
    padding: 5px;
    width: 100px;
    height: 32px;
    transition: all 0.5s;
    color: rgb(0, 0, 0);
}

.add-clear {
    border: 0.5px solid black;
    background-color: transparent;
    margin-left: 260px;
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    font-size: 15px;
    color: black;
    border-radius: 30px;

}

.add-clear:hover{
    color: white;
    background-color: red;
    cursor: pointer;
    border: none;
}

.close-btn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-image: url("close1.png");
}

.pointer {
    cursor: pointer;
  }

.iop {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #472183;
}

::-webkit-scrollbar-thumb {
    background: #472183;
}

.search-img{
    height: 15px;
    width: 15px;
    margin-left: 30px;
}

.search-bar {
    padding-left: 10px;
    border: none;
    width: 50%;
    outline: none;
    color: black;
    background-color: transparent;
    font-size: 15px;
}

.searchsec {
    display: flex;
    flex-direction: row;
}

.n-fonts{
    font-size: 55px;
}

::-webkit-input-placeholder { 
    color: black;
}

@media screen and (max-width:780px) {    
    .container{
        position: center;
        width: 330px;
        border-radius: 15px;
        border: none;
        box-shadow: none;
        height: 690px;
        margin-left: 30px;
    }

    .input{
        width: 260px;
        margin: 20px 30px;
    }

    .alltasks{
        width: 280px;
        height: 330px;
    }

    .add-clear{
        margin-left: 115px;
        margin-top: 50px;
    }

    .add{
        margin-left: 115px;
    }

    .search-bar{
        width: 70%;
    }
}
