@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
 
 
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 99999;
}
.lightning{
  
    height: 400px;
    width: 500px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
 }
 .thunder{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 100px;
    left: 160px;    
    animation: bounce 1s infinite;
 }
 @keyframes bounce{
    10%{
        height: 150px;
        width: 150px;
    }
 
    50%{
        height: 150px;
        width: 150px;
        transform: translateY(150px);
    }
 }
 .society{  
    color: rgb(248, 216, 73);
    font-size: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeout 1s infinite;
 }
 @keyframes fadeout{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
 }
 @media (max-width:750px){
    .society{
        font-size: 23px;
    }
 }
 @media (max-width:390px){
    .society{
        font-size: 16px;
    }
    .thunder{
        left: 32vw;
    }
 }