*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: azure;
}

body{
    background-image: linear-gradient(to bottom right,rgba(79,51,176,1),rgba(210,53,165));
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.theme{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.theme.active{
    color: rgb(46, 46, 46);
}

.theme.active::before{
    background-color: rgb(255, 255, 255);
}

.theme::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(51, 51, 51);
    z-index: -1;
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 50px;
    width: 60px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    
}

button:hover{
    transform: scale(1.2);
    background-color: rgb(206, 255, 127);
}


.calculator{
    background-color: white ;
}

#display{
    color: rgb(10, 30, 35);
}

#clear{
    background-color: rgb(255, 213, 216);
    color: rgb(252, 69, 82);
}

.btn-n{
    background-color: hsl(201, 100%, 88%);
    color: black;
}

.btn-o{
    background-color: rgb(255, 208, 253);
    color: rgb(153, 5, 148);
}

.btn-equal{
    background-color: rgb(173, 249, 231);
    color: rgb(3, 138, 93);
}

.calculator.dark{
    background-color: black;
}

.calculator.dark #display{
    color: white;
}

.calculator.dark button#clear{
    background-color: rgb(24, 24, 24);
    color: red;
}

.calculator.dark button.btn-n{
    background-color: rgb(61, 59, 59);
    color: antiquewhite;
}

.calculator.dark button.btn-o{
    background-color: rgb(9, 29, 40);
    color: chocolate;
}

.calculator.dark button.btn-equal{
    background-color: rgb(21, 23, 21);
    color: beige;
}